# Coding Exercises

## **Exercise 1:** Loading a CSV-file into Pandas

#### **The Problem:**

Import Pandas and load the csv-file "titanic.csv". Save the DataFrame in the variable df. (finally, you may print df and inspect the data as well)

#### **The Solution:**

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('titanic.csv')

In [3]:
df

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

## **Exercise 2:** Summary Statistics

#### **The Problem:**

Get some summary statistics for the numerical columns of the titanic dataset and save the summary DataFrame in the variable summary. (you may print the summary as well)

#### **The Solution:**

In [4]:
import pandas as pd

df = pd.read_csv("titanic.csv")
summary = df.describe()
print(summary)

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

## **Exercise 3:** Selecting Columns

#### **The Problem:**

Select and save the "fare" column in the variable fare. (you may print fare as well).

#### **The Solution:**

In [5]:
import pandas as pd

df = pd.read_csv("titanic.csv")
fare = df.fare
fare

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: fare, Length: 891, dtype: float64

## **Exercise 4:** Position-based Indexing 1

#### **The Problem:**

Print the element in the 3rd row and the 4th column.

#### **The Solution:**

In [6]:
import pandas as pd

df = pd.read_csv("titanic.csv")

print(df.iloc[2, 3])

26.0

## **Exercise 4:** Position-based Indexing 2

#### **The Prolem:**

Select and save the last 10 rows (and only the first two columns) in the variable last_rows (you may print last_rows as well).

In [7]:
import pandas as pd

df = pd.read_csv("titanic.csv")

last_rows = df.iloc[-10:, :2]
print(last_rows)

     survived  pclass
881         0       3
882         0       3
883         0       2
884         0       3
885         0       3
886         0       2
887         1       1
888         0       3
889         1       1
890         0       3

## **Exercise 5:** Label-based Indexing 1

#### **The Prolem:**

Load and save the Summer Olympic medals dataset "summer.csv" (small excerpt) in the variable df. Make sure the "Athlete" column is the Index of df.

In which Wrestling Freestyle "Event" did the Spanish female Athlete "UNDA, Maider" win the Bronze Medal in London 2012? (Note: this is her only Olympic Medal). (print the Event)

#### **The Solution:**

In [19]:
import pandas as pd

df = pd.read_csv('summer.csv', index_col = 'Athlete')

event = df.loc['UNDA, Maider', 'Event']

print(event)

Wf 72 KG

## **Exercise 6:** Label-based Indexing 2

#### **The Prolem:**

Select "Country" and "Sport" for the Athletes "PAVIA, Automne" and "OCHAL, Glenn". Save the sliced DataFrame in the variable sliced (you may print sliced as well).

#### **The Solution:**

In [28]:
import pandas as pd

df = pd.read_csv('summer.csv', index_col = 'Athlete')

sliced = df.loc[['PAVIA, Automne', 'OCHAL, Glenn'], ['Country', 'Sport']]

print(sliced)

               Country   Sport
Athlete
PAVIA, Automne     FRA    Judo
OCHAL, Glenn       USA  Rowing