# **Reshaping and pivoting dataframes**

## **Transposing the dataframe**

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv('titanic.csv')

In [ ]:
titanic.head()

In [ ]:
titanic.T

In [ ]:
titanic.transpose()

In [ ]:
titanic.transpose(copy = True)

In [ ]:
titanic

In [ ]:
titanic = titanic.transpose()

In [ ]:
titanic.info()

In [ ]:
titanic = titanic.T

In [ ]:
titanic.info()

In [ ]:
titanic.head()

## **Pivoting dataframes with pivot()**

In [ ]:
import pandas as pd

In [ ]:
table1 = pd.read_csv('table1.csv')

In [ ]:
table1.info()

In [ ]:
table1.shape

In [ ]:
table1.head()

In [ ]:
table1.tail()

In [ ]:
table1.pivot(index = 'Country', columns = 'Medal', values = 'Count')

In [ ]:
table1_pivoted = table1.pivot(index = "Country", columns = 'Medal', values = 'Count').fillna(0)

In [ ]:
table1_pivoted['Gold'] = table1_pivoted.Gold.astype('int32')
table1_pivoted['Silver'] = table1_pivoted.Silver.astype('int32')
table1_pivoted['Bronze'] = table1_pivoted.Bronze.astype('int32')

In [ ]:
table1_pivoted.info()

In [ ]:
table1_pivoted.shape

In [ ]:
table1_pivoted.head()

In [ ]:
table1.set_index(['Country', 'Medal'])

In [ ]:
table1.set_index(['Country', 'Medal']).unstack(fill_value = 0)

## **Limits of pivot()**

In [ ]:
import pandas as pd

In [ ]:
table2 = pd.read_csv('table2.csv')

In [ ]:
table2.info()

In [ ]:
table2.head(10)

In [ ]:
table2.tail(10)

In [ ]:
# The following command will throw an error
# table2.pivot(index = 'Country', columns = 'Medal', values = 'Count')

In [ ]:
table2.groupby(by = ['Country', 'Year', 'Medal']).Count.sum().unstack().fillna(0).iloc[:, [1, 0, 2]]

In [ ]:
tale2_pivoted = table2.groupby(by = ['Country', 'Year', 'Medal']).Count.sum().unstack().fillna(0).iloc[:, [1, 0, 2]]

In [ ]:
tale2_pivoted.info()

In [ ]:
tale2_pivoted.shape

In [ ]:
tale2_pivoted.head()

In [ ]:
tale2_pivoted.tail()

## **pivot_table()**

In [ ]:
import pandas as pd

In [ ]:
table2 = pd.read_csv('table2.csv')

In [ ]:
table2.head(10)

In [ ]:
table2.pivot_table(
    index = 'Country',
    columns = 'Medal',
    values = 'Count',
    aggfunc = 'sum',
    fill_value = 0).iloc[:, [1, 0, 2]]

In [ ]:
table2.pivot_table(
    index = 'Country',
    columns = 'Medal',
    values = 'Count',
    aggfunc = 'sum',
    margins = True,
    margins_name = 'Total',
    fill_value = 0
).iloc[:, [1, 0, 2, 3]]

In [ ]:
table2.pivot_table(
    index = 'Country',
    columns = 'Medal',
    values = 'Count',
    aggfunc = 'sum',
    margins = True,
    margins_name = 'Total',
    fill_value = 0
).iloc[:-1, [1, 0, 2, 3]]

To get the same result **_groupby()_** coud be used

In [ ]:
table2.groupby(['Country', 'Medal']).Count.sum().unstack(fill_value = 0)

In [ ]:
table2_grouped = table2.groupby(['Country', 'Medal']).Count.sum().unstack(fill_value = 0)

In [ ]:
table2_grouped['All'] = table2_grouped.sum(axis = 1)

In [ ]:
table2_grouped.loc['All'] = table2_grouped.sum(axis = 0)

In [ ]:
table2_grouped

## **pd.crosstab()**

#### Titanic data

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv('titanic.csv')

In [ ]:
titanic.info()

In [ ]:
titanic.head()

In [ ]:
titanic.tail()

In [ ]:
pd.crosstab(titanic.sex, titanic.pclass)

In [ ]:
titanic.groupby(by = ['sex', 'pclass']).pclass.count().unstack()

In [ ]:
pd.crosstab(titanic.pclass, titanic.sex)

In [ ]:
titanic.groupby(by = ['pclass', 'sex']).sex.count().unstack()

In [ ]:
pd.crosstab(titanic.sex, titanic.pclass, margins = True, margins_name = 'Total')

In [ ]:
pd.crosstab(titanic.sex, titanic.pclass, margins = True, margins_name = 'Total', normalize = True)

In [ ]:
pd.crosstab(titanic.sex, titanic.pclass, margins = True, margins_name = 'Total', normalize = True).round(2)

In [ ]:
(pd.crosstab(titanic.sex, titanic.pclass, margins = True, margins_name = 'Total', normalize = True) * 100).round(2)

In [ ]:
pd.crosstab(index = titanic.sex, columns = titanic.pclass, values = titanic.age, aggfunc = 'mean').round(2)

In [ ]:
titanic.groupby(by = ['sex', 'pclass']).age.mean().unstack().round(2)

In [ ]:
titanic.pivot_table(index = 'sex', columns = 'pclass', values = 'age', aggfunc = 'mean').round(2)

#### Summer olympics data

In [ ]:
summer = pd.read_csv('summer.csv')

In [ ]:
summer.info()

In [ ]:
summer.head()

In [ ]:
pd.crosstab(
    index = [summer.Year, summer.Country],
    columns = summer.Medal,
    values = summer.Athlete,
    aggfunc = 'count',
    margins = True,
    margins_name = 'Total'
).fillna(0)

In [ ]:
summer.pivot_table(
    index = ['Year', 'Country'],
    columns = 'Medal',
    values = 'Athlete',
    aggfunc = 'count',
    fill_value = 0,
    margins = True,
    margins_name = 'Total'
)

In [ ]:
summer.groupby(by = ['Year', 'Country', 'Medal']).Medal.count().unstack(fill_value = 0)

## **Melting dataframes with melt()**

In [1]:
import pandas as pd

In [2]:
table_2012 = pd.read_csv('table_2012.csv')

In [3]:
table_2012

   Country  Gold  Silver  Bronze
0      USA   147      57      46
1      CHN    56      44      28
2      GBR    48      30      48
3      RUS    47      32      51
4      GER    45      28      21
5      FRA    30      30      22
6      NED    21      29      19
7      AUS    19      36      59
8      KOR    18      13      32
9      MEX    18       5       3
10     ITA    16      22      30
11     NOR    15       1       1
12     CRO    15       4      16
13     BRA    14      34      11
14     HUN    12       8       6
15     NZL     9       3      14
16     UKR     9       4      12
17     JAM     8       9       8
18     JPN     7      44      33
19     RSA     6       2       1

In [8]:
table_2012.melt(id_vars = 'Country')

   Country variable  value
0      USA     Gold    147
1      CHN     Gold     56
2      GBR     Gold     48
3      RUS     Gold     47
4      GER     Gold     45
5      FRA     Gold     30
6      NED     Gold     21
7      AUS     Gold     19
8      KOR     Gold     18
9      MEX     Gold     18
10     ITA     Gold     16
11     NOR     Gold     15
12     CRO     Gold     15
13     BRA     Gold     14
14     HUN     Gold     12
15     NZL     Gold      9
16     UKR     Gold      9
17     JAM     Gold      8
18     JPN     Gold      7
19     RSA     Gold      6
20     USA   Silver     57
21     CHN   Silver     44
22     GBR   Silver     30
23     RUS   Silver     32
24     GER   Silver     28
25     FRA   Silver     30
26     NED   Silver     29
27     AUS   Silver     36
28     KOR   Silver     13
29     MEX   Silver      5
30     ITA   Silver     22
31     NOR   Silver      1
32     CRO   Silver      4
33     BRA   Silver     34
34     HUN   Silver      8
35     NZL   Silver      3
36     UKR   Silver      4
37     JAM   Silver      9
38     JPN   Silver     44
39     RSA   Silver      2
40     USA   Bronze     46
41     CHN   Bronze     28
42     GBR   Bronze     48
43     RUS   Bronze     51
44     GER   Bronze     21
45     FRA   Bronze     22
46     NED   Bronze     19
47     AUS   Bronze     59
48     KOR   Bronze     32
49     MEX   Bronze      3
50     ITA   Bronze     30
51     NOR   Bronze      1
52     CRO   Bronze     16
53     BRA   Bronze     11
54     HUN   Bronze      6
55     NZL   Bronze     14
56     UKR   Bronze     12
57     JAM   Bronze      8
58     JPN   Bronze     33
59     RSA   Bronze      1

In [12]:
table_2012_melt = table_2012.melt(id_vars = 'Country', value_vars = ['Gold', 'Silver', 'Bronze'], var_name = 'Medal', value_name = 'Count')

In [13]:
table_2012_melt

   Country   Medal  Count
0      USA    Gold    147
1      CHN    Gold     56
2      GBR    Gold     48
3      RUS    Gold     47
4      GER    Gold     45
5      FRA    Gold     30
6      NED    Gold     21
7      AUS    Gold     19
8      KOR    Gold     18
9      MEX    Gold     18
10     ITA    Gold     16
11     NOR    Gold     15
12     CRO    Gold     15
13     BRA    Gold     14
14     HUN    Gold     12
15     NZL    Gold      9
16     UKR    Gold      9
17     JAM    Gold      8
18     JPN    Gold      7
19     RSA    Gold      6
20     USA  Silver     57
21     CHN  Silver     44
22     GBR  Silver     30
23     RUS  Silver     32
24     GER  Silver     28
25     FRA  Silver     30
26     NED  Silver     29
27     AUS  Silver     36
28     KOR  Silver     13
29     MEX  Silver      5
30     ITA  Silver     22
31     NOR  Silver      1
32     CRO  Silver      4
33     BRA  Silver     34
34     HUN  Silver      8
35     NZL  Silver      3
36     UKR  Silver      4
37     JAM  Silver      9
38     JPN  Silver     44
39     RSA  Silver      2
40     USA  Bronze     46
41     CHN  Bronze     28
42     GBR  Bronze     48
43     RUS  Bronze     51
44     GER  Bronze     21
45     FRA  Bronze     22
46     NED  Bronze     19
47     AUS  Bronze     59
48     KOR  Bronze     32
49     MEX  Bronze      3
50     ITA  Bronze     30
51     NOR  Bronze      1
52     CRO  Bronze     16
53     BRA  Bronze     11
54     HUN  Bronze      6
55     NZL  Bronze     14
56     UKR  Bronze     12
57     JAM  Bronze      8
58     JPN  Bronze     33
59     RSA  Bronze      1