# **Pandas Series and Index Objects**

### **Analyzing Numerical Series with unique(), nunique() and value_counts()**

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv('titanic.csv')

In [ ]:
titanic

In [ ]:
titanic.info

In [ ]:
age = titanic['age']

In [ ]:
type(age)

In [ ]:
age.equals(titanic.age)

In [ ]:
age.dtype

In [ ]:
age.head()

In [ ]:
age.tail()

In [ ]:
age.shape

In [ ]:
len(age)

In [ ]:
age_frame = age.to_frame()

In [ ]:
age_frame.shape

In [ ]:
age.describe()

In [ ]:
age.info()

In [ ]:
age.count()

In [ ]:
age.size

In [ ]:
age.sum()

In [ ]:
sum(age)

In [ ]:
age.mean()

In [ ]:
age.sum() / len(age)

In [ ]:
age.min()

In [ ]:
age.max()

In [ ]:
age.std()

Some playground:

In [ ]:
cols = list(titanic.columns)
for col in cols:
    if titanic[col].dtype in ['int64', 'float64']:
        print(f'{col}: {titanic[col].mean()}')

In [ ]:
age.unique()

In [ ]:
len(age.unique())

In [ ]:
age.nunique(dropna = False)

In [ ]:
age.value_counts()

In [ ]:
age.value_counts(normalize = True)

In [ ]:
age.value_counts(bins = 5)

In [ ]:
30/age.count()

### **Analyzing non-numerical Series with unique(), nunique(), value_counts()**

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv('summer.csv')

In [ ]:
summer.head()

In [ ]:
summer.info()

In [ ]:
athlete = summer['Athlete']

In [ ]:
athlete.head(10)

In [ ]:
athlete.tail(10)

In [ ]:
athlete.dtype

In [ ]:
type(athlete)

In [ ]:
athlete.shape

In [ ]:
athlete.describe()

In [ ]:
athlete.size

In [ ]:
athlete.count()

In [ ]:
athlete.min()

In [ ]:
athlete.unique()

In [ ]:
len(athlete.unique())

In [ ]:
athlete.nunique()

In [ ]:
athlete.value_counts()

In [ ]:
athlete.value_counts(sort = True, ascending = True)

In [ ]:
athlete.value_counts(sort = True, normalize = True).head()

### **Creating Pandas Series**

#### **Part 1.**

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv('summer.csv')

In [ ]:
summer.Athlete

In [ ]:
summer.iloc[0]

In [ ]:
pd.Series([1, 2, 3, 4, 5])

In [ ]:
pd.Series(data = [1, 2, 3, 4, 5], index = ['a', 'b', 'c', 'd', 'e'])

In [ ]:
pd.Series(data = [1, 2, 3, 4, 5], index = ['a', 'b', 'c', 'd', 'e'], name = 'Test')

#### **Part 2.**

###### **From NumPy array**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
np_array = np.array([1, 2, 3, 4, 5])
np_array

In [ ]:
pd.Series(np_array)

###### **From Python list**

In [ ]:
p_list = [1, 2, 3, 4, 5]
p_list

In [ ]:
pd.Series(p_list)

###### **From Python tuple**

In [ ]:
p_tuple = (1, 2, 3, 4, 5)
p_tuple

In [ ]:
pd.Series(p_tuple)

###### **From Python dictionary**

In [ ]:
p_dict = {"a": 1, "b": 2, "c": 3, "d": 4, "e": 5}
p_dict

In [ ]:
pd.Series(p_dict)

### **Indexing and Slicing**

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv('titanic.csv')

In [ ]:
titanic.head()

In [ ]:
titanic.tail()

In [ ]:
age = titanic.age

In [ ]:
age.head()

In [ ]:
age.tail()

In [ ]:
age[0]

In [ ]:
age.iloc[-1]

In [ ]:
age[[3, 4]]

In [ ]:
age[:3]

In [ ]:
age.loc[:3]

In [ ]:
summer = pd.read_csv('summer.csv', index_col = 'Athlete')

In [ ]:
summer

In [ ]:
event = summer.Event

In [ ]:
event.head()

In [ ]:
event.tail()

In [ ]:
event[0]

In [ ]:
event[-1]

In [ ]:
event[:3]

In [ ]:
event.iloc[:3]

In [ ]:
event['PHELPS, Michael']

### **Sorting of series**

In [ ]:
import pandas as pd

In [ ]:
dict_values = {
    1: 3,
    2: 5,
    4: 42,
    6: 26,
    5: 55,
    3: 33,
    7: None
}

In [ ]:
sales = pd.Series(dict_values)

In [ ]:
sales.sort_values()

In [ ]:
sales.sort_index()

In [ ]:
sales.sort_index(ascending = False)

In [ ]:
sales.sort_index(ascending = True)

In [ ]:
sales.sort_index(ascending = False)

In [ ]:
sales.sort_index(ascending = True, inplace = True)

In [ ]:
sales

In [ ]:
titanic = pd.read_csv('titanic.csv')

In [ ]:
age = titanic.age

In [ ]:
age.head()

In [ ]:
age.tail()

### **nlargest() and nsmallest()**

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv('titanic.csv')

In [ ]:
age = titanic.age

In [ ]:
age

In [ ]:
age2 = age.copy()

In [ ]:
age2.sort_values(ascending = False, inplace = True)

In [ ]:
age2.head(10)

In [ ]:
age2.nlargest(n = 10)

In [ ]:
age2.nlargest(n = 10, keep = 'all')

In [ ]:
age2.nsmallest(n = 10)

In [ ]:
titanic.info()

### **idxmin() and idxmax()**

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv('titanic.csv')

In [ ]:
fare = titanic.fare

In [ ]:
fare.nlargest(n = 3).index[0]

In [ ]:
fare.idxmax()

In [ ]:
fare.nsmallest(n = 3).index[0]

In [ ]:
fare.idxmin()

In [ ]:
titanic.loc[fare.idxmax()]

In [ ]:
titanic.loc[fare.idxmin()]

In [ ]:
dic = {
    "Mon": 10.0,
    "Tue": 25.0,
    "Wed": 6.0,
    "Thu": 36.0,
    "Fri": 2.0,
    "Sat": 0,
    "Sun": None,
}

In [ ]:
sales = pd.Series(dic)

In [ ]:
sales

In [ ]:
sales.sort_values(ascending = True).index[0]

In [ ]:
sales.idxmin()

In [ ]:
sales.sort_values(ascending = False).index[0]

In [ ]:
sales.idxmax()

In [ ]:
sales.loc[sales.idxmax()]

### **Manipulating Pandas Series**

In [ ]:
import pandas as pd

In [ ]:
sales = pd.Series([10, 25, 6, 36, 2, 0, None, 5], index = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun", "Mon"])

In [ ]:
sales

In [ ]:
sales.Sun = 0

In [ ]:
sales

In [ ]:
sales.iloc[3] = 30

In [ ]:
sales

In [ ]:
sales/1.1

In [ ]:
sales_EUR = (sales/1.1).round(2)

In [ ]:
sales_EUR

In [ ]:
titanic = pd.read_csv('titanic.csv')

In [ ]:
titanic.head()

In [ ]:
age = titanic.age

In [ ]:
age

In [ ]:
age.head()

In [ ]:
age[1] = 30

In [ ]:
age.head()

In [ ]:
titanic.head(n = 5)

In [ ]:
age_2 = titanic.age.copy()

In [ ]:
age_2[1] = 38

In [ ]:
age_2.head()

### **First Steps with Pandas Index Objects**

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv('summer.csv')

In [ ]:
summer.head()

In [ ]:
summer.tail()

In [ ]:
summer.info()

In [ ]:
summer.describe()

In [ ]:
summer.index

In [ ]:
summer.columns

In [ ]:
summer.axes

In [ ]:
summer.axes[0]

In [ ]:
summer.axes[1]

In [ ]:
type(summer.index)

In [ ]:
type(summer.columns)

In [ ]:
summer_index = pd.read_csv('summer.csv', index_col = 'Athlete')

In [ ]:
summer_index.head()

In [ ]:
summer_index.index

In [ ]:
type(summer_index.index)

In [ ]:
summer.columns[:3]

In [ ]:
summer_index.index[0]

In [ ]:
summer_index.index[100:102]

In [ ]:
summer_index.columns.to_numpy()

In [ ]:
summer_index.columns.to_list()

In [ ]:
summer_index.index.is_unique

In [ ]:
summer_index.index.get_loc('DRIVAS, Dimitrios')

In [ ]:
summer_index.index.get_loc('PHELPS, Michael')

### **Creating index objects**

In [ ]:
import pandas as pd

In [ ]:
list_1 = [1, 2, 3]

In [ ]:
list_1

In [ ]:
pd.Index(list_1)

In [ ]:
list_2 = ['a', 'b', 'c']

In [ ]:
pd.Index(list_2)

In [ ]:
pd.Index(range(1, 5))

In [ ]:
idx = pd.Index(['x', 'y', 'z'], name = 'Idx')

In [ ]:
pd.Series([1, 2, 3], index = idx, name = 'Values')

### **Change row index**

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv('summer.csv', index_col = 'Athlete')

In [ ]:
summer.describe()

In [ ]:
summer.head()

In [ ]:
summer.index

In [ ]:
summer.reset_index()

In [ ]:
summer

In [ ]:
summer.reset_index(inplace = True)

In [ ]:
summer

In [ ]:
summer.set_index('Year')

In [ ]:
summer.reset_index()

In [ ]:
summer.index.is_unique

In [ ]:
summer.set_index('Year', inplace = True)

In [ ]:
summer.index.is_unique

In [ ]:
summer.reset_index(inplace = True)

In [ ]:
summer

In [ ]:
new_index = [f'Row {i}' for i in range(1, summer.index.size + 1)]

In [ ]:
new_index

In [ ]:
summer.index = new_index

In [ ]:
summer.head()

In [ ]:
summer.index.name = "Rows"

In [ ]:
summer.head()

In [ ]:
# summer.reset_index(drop = True)
summer.reset_index(drop = True, inplace = True)

In [ ]:
summer.head()

### **Changing column labels**

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv('titanic.csv')

In [ ]:
titanic.head()

In [ ]:
titanic.describe()

In [ ]:
titanic.columns

In [ ]:
titanic.columns[0]

In [ ]:
titanic.columns[0] = 'Alive'

In [ ]:
titanic.columns = ['Col 1', 'Col 2', 'Col 3', 'Col 4', 'Col 5', 'Col 6', 'Col 7', 'Col 8', 'Col 9']

In [ ]:
titanic

In [ ]:
titanic.columns.name = 'Col Names'

In [ ]:
titanic

In [ ]:
titanic.index.name = 'Row Names'

In [ ]:
titanic

### **Ranaming Index and Column labels**

In [1]:
import pandas as pd

In [2]:
summer = pd.read_csv('summer.csv', index_col = 'Athlete')

In [3]:
summer.head()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [4]:
summer.index[0] = 'HAYOS, Alfred'

TypeError: Index does not support mutable operations

In [5]:
summer.rename(mapper = {'HAJOS, Alfred': 'HAYOS, Alfred'}, axis = 'index')

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAYOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [7]:
summer.head()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [8]:
summer.rename(mapper = {'HAJOS, Alfred': 'HAYOS, Alfred'}, axis = 'index', inplace = True)

In [9]:
summer.head()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAYOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [10]:
summer.axes

[Index(['HAYOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios',
        'MALOKINIS, Ioannis', 'CHASAPIS, Spiridon', 'CHOROPHAS, Efstathios',
        'HAYOS, Alfred', 'ANDREOU, Joannis', 'CHOROPHAS, Efstathios',
        'NEUMANN, Paul',
        ...
        'AHMADOV, Emin', 'KAZAKEVIC, Aleksandr', 'KHUGAEV, Alan',
        'EBRAHIM, Karam Mohamed Gaber', 'GAJIYEV, Danyal', 'JANIKOWSKI, Damian',
        'REZAEI, Ghasem Gholamreza', 'TOTROV, Rustam', 'ALEKSANYAN, Artur',
        'LIDBERG, Jimmy'],
       dtype='object', name='Athlete', length=31165),
 Index(['Year', 'City', 'Sport', 'Discipline', 'Country', 'Gender', 'Event',
        'Medal'],
       dtype='object')]

In [13]:
summer.rename(index = {'HAYOS, Alfred': 'HAJOS, Alfred'}, inplace = True)

In [14]:
summer.head()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [15]:
summer.head()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [19]:
summer.rename(mapper = {"Gender": 'SEX'}, inplace = True, axis = 'columns')

In [20]:
summer.head()

,Year,City,Sport,Discipline,Country,SEX,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [24]:
summer.rename(columns = {'SEX': 'Gender'}, inplace = True)

In [25]:
summer.head()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver