# **GroupBy Operations**

## **Understanding the GroupBy**

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv('titanic.csv')

In [ ]:
titanic.info()

In [ ]:
titanic.head()

In [ ]:
titanic.tail()

In [ ]:
titanic.info()

In [ ]:
titanic_slice = titanic.iloc[:10, [2,3]]

In [ ]:
titanic_slice

In [ ]:
titanic_slice.groupby(by = 'sex')

In [ ]:
gbo = titanic_slice.groupby(by = 'sex')

In [ ]:
type(gbo)

In [ ]:
gbo.groups

In [ ]:
gbo_l = list(gbo)

In [ ]:
gbo_l[0]

In [ ]:
type(gbo_l[0])

In [ ]:
gbo_l[0][0]

In [ ]:
gbo_l[0][1]

In [ ]:
type(gbo_l[0][1])

In [ ]:
gbo_l[1][1]

#### **Another approach for achieving the same result**

In [ ]:
titanic_slice_f = titanic_slice.loc[titanic_slice.sex == 'female']

In [ ]:
titanic_slice_f

In [ ]:
titanic_slice_m = titanic_slice.loc[titanic_slice.sex == 'male']

In [ ]:
titanic_slice_m

In [ ]:
titanic_slice_m.equals(gbo_l[1][1])

In [ ]:
for element in gbo:
    print(element)

## **Splitting with many keys**

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv('summer.csv')

In [ ]:
summer.info()

In [ ]:
summer.head()

In [ ]:
summer.Country.nunique()

In [ ]:
split1 = summer.groupby('Country')

In [ ]:
split1_l = list(split1)

In [ ]:
len(split1_l)

In [ ]:
countries = [c[0] for c in split1_l]

In [ ]:
countries.index('BUL')

In [ ]:
split1_l[19][1]

In [ ]:
split2 = summer.groupby(by = ['Country', 'Gender'])

In [ ]:
split2_l = list(split2)

In [ ]:
split2_l[30:32]

## **Split-Apply-Combine explained**

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv('titanic.csv')

In [ ]:
titanic_slice = titanic.iloc[:10, [2,3]]

In [ ]:
titanic_slice

In [ ]:
list(titanic_slice.groupby('sex'))[0][1]

In [ ]:
list(titanic_slice.groupby('sex'))[0][1].age.mean()

In [ ]:
list(titanic_slice.groupby('sex'))[1][1]

In [ ]:
list(titanic_slice.groupby('sex'))[1][1].age.mean()

In [ ]:
titanic_slice.groupby('sex').mean()

In [ ]:
titanic.info()

In [ ]:
titanic.groupby('sex').sum(numeric_only = True)

In [ ]:
titanic.groupby('sex').survived.sum()

In [ ]:
titanic.groupby('sex')[['fare', 'age']].max()

In [ ]:
l = list(titanic.groupby('sex'))

In [ ]:
l[0][1].age.max()

In [ ]:
l[1][1].age.max()

In [ ]:
titanic_mean = titanic.groupby('sex').mean(numeric_only = True)

In [ ]:
titanic_mean

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
plt.style.available

In [ ]:
plt.style.use("seaborn-v0_8")

In [ ]:
titanic_mean.plot(kind = 'bar', figsize = (7, 15), subplots = True)
plt.show()

## **Split-Apply-Combine applied**

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv('summer.csv')

In [ ]:
summer.info()

In [ ]:
summer.head()

In [ ]:
summer.groupby('Country')

In [ ]:
medals_by_country = summer.groupby('Country').Medal.count()

In [ ]:
medals_by_country

In [ ]:
top20 = medals_by_country.nlargest(20)

In [ ]:
top20

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('seaborn-v0_8')

In [ ]:
font_dict_common = {
    'weight': 'bold',
    'family': 'sans',
    'color': 'darkred'
}
font_dict_specific = {
    'labelpad': 20,
    'fontsize': 12
}
top20.plot(kind = 'bar', figsize = (10, 7))
plt.xlabel('Medals', **font_dict_common, **font_dict_specific)
plt.xticks(**font_dict_common, fontsize = 10, rotation = 0)
plt.ylabel('Country', **font_dict_common, **font_dict_specific)
plt.yticks(**font_dict_common, fontsize = 10)
plt.title('Summer Olympic Games (Medals per Country)', **font_dict, fontsize = 14)
plt.show()

In [ ]:
titanic = pd.read_csv('titanic.csv')

In [ ]:
titanic.info()

In [ ]:
titanic.describe()

In [ ]:
titanic.groupby('pclass').fare.mean()

In [ ]:
titanic.groupby('sex').survived.mean()

In [ ]:
titanic.groupby('pclass').survived.mean()

In [ ]:
titanic['ad_chi'] = 'adult'

In [ ]:
titanic.head(10)

In [ ]:
titanic.loc[titanic.age < 18, 'ad_chi'] = 'child'

In [ ]:
titanic.head(10)

In [ ]:
titanic.ad_chi.value_counts()

In [ ]:
titanic.groupby('ad_chi').survived.mean()

In [ ]:
titanic.groupby(['sex', 'ad_chi']).survived.count()

In [ ]:
titanic.groupby(['sex', 'ad_chi']).survived.mean()

In [ ]:
survival_rate = titanic.groupby(['sex', 'ad_chi']).survived.mean().sort_values(ascending = False)

In [ ]:
survival_rate.plot(kind = 'bar', figsize = (10, 5))
plt.title('Titanic Survival Rate by Sex/Age')
plt.xlabel('Groups')
plt.xticks(rotation = 0)
plt.ylabel('Survival Rate')
plt.show()

## **Advanced agregation with agg()**

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv('titanic.csv', usecols = ['survived', 'pclass', 'sex', 'age', 'fare'])

In [ ]:
titanic.info()

In [ ]:
titanic.head()

In [ ]:
titanic.groupby('sex').mean()

In [ ]:
titanic.groupby('sex').sum()

In [ ]:
titanic.groupby('sex').agg(['mean', 'sum'])

In [ ]:
titanic.groupby('sex').agg(['mean', 'sum', 'min', 'max'])

In [ ]:
titanic.groupby('sex').agg({'survived': ['mean', 'sum'], 'pclass': ['mean']})

In [ ]:
titanic.groupby('sex').agg({'survived': ['mean', 'sum'], 'pclass': ['mean'], 'age': ['min', 'max'], 'fare': ['mean', 'min', 'max']})

## **GroupBy aggregation with relabeling**

In [1]:
import pandas as pd

In [2]:
titanic = pd.read_csv('titanic.csv',usecols = ['survived', 'pclass', 'sex', 'age', 'fare'])

In [3]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   sex       891 non-null    object
 3   age       714 non-null    float64
 4   fare      891 non-null    float64
dtypes: float64(2), int64(2), object(1)
memory usage: 34.9+ KB

In [4]:
titanic.head()

   survived  pclass     sex   age     fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [5]:
titanic.groupby('sex').mean()

        survived    pclass        age       fare
sex
female  0.742038  2.159236  27.915709  44.479818
male    0.188908  2.389948  30.726645  25.523893

In [6]:
titanic.groupby('sex').survived.mean()

sex
female    0.742038
male      0.188908
Name: survived, dtype: float64

In [7]:
titanic.groupby('sex').agg(survival_rate = ('survived', 'mean'))

        survival_rate
sex
female       0.742038
male         0.188908

In [12]:
titanic.groupby('sex').agg({'survived': ['mean', 'sum'], 'age': ['mean']})

        survived             age
            mean  sum       mean
sex
female  0.742038  233  27.915709
male    0.188908  109  30.726645

In [13]:
titanic.groupby('sex').agg(survived_total = ('survived', 'sum'), survival_rate = ('survived', 'mean'), mean_age = ('age', 'mean'))

        survived_total  survival_rate   mean_age
sex
female             233       0.742038  27.915709
male               109       0.188908  30.726645