# **GroupBy Operations**

## **Understanding the GroupBy**

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv('titanic.csv')

In [ ]:
titanic.info()

In [ ]:
titanic.head()

In [ ]:
titanic.tail()

In [ ]:
titanic.info()

In [ ]:
titanic_slice = titanic.iloc[:10, [2,3]]

In [ ]:
titanic_slice

In [ ]:
titanic_slice.groupby(by = 'sex')

In [ ]:
gbo = titanic_slice.groupby(by = 'sex')

In [ ]:
type(gbo)

In [ ]:
gbo.groups

In [ ]:
gbo_l = list(gbo)

In [ ]:
gbo_l[0]

In [ ]:
type(gbo_l[0])

In [ ]:
gbo_l[0][0]

In [ ]:
gbo_l[0][1]

In [ ]:
type(gbo_l[0][1])

In [ ]:
gbo_l[1][1]

#### **Another approach for achieving the same result**

In [ ]:
titanic_slice_f = titanic_slice.loc[titanic_slice.sex == 'female']

In [ ]:
titanic_slice_f

In [ ]:
titanic_slice_m = titanic_slice.loc[titanic_slice.sex == 'male']

In [ ]:
titanic_slice_m

In [ ]:
titanic_slice_m.equals(gbo_l[1][1])

In [ ]:
for element in gbo:
    print(element)

## **Splitting with many keys**

In [1]:
import pandas as pd

In [2]:
summer = pd.read_csv('summer.csv')

In [4]:
summer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Athlete     31165 non-null  object
 5   Country     31161 non-null  object
 6   Gender      31165 non-null  object
 7   Event       31165 non-null  object
 8   Medal       31165 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.1+ MB

In [3]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [5]:
summer.Country.nunique()

147

In [6]:
split1 = summer.groupby('Country')

In [7]:
split1_l = list(split1)

In [9]:
len(split1_l)

147

In [23]:
countries = [c[0] for c in split1_l]

In [25]:
countries.index('BUL')

19

In [26]:
split1_l[19][1]

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
8312,1952,Helsinki,Boxing,Boxing,"NIKOLOV, Boris Georgiev",BUL,Men,71-75KG,Bronze
9390,1956,Melbourne / Stockholm,Football,Football,"DIEV, Todor Nedyalkov",BUL,Men,Football,Bronze
9391,1956,Melbourne / Stockholm,Football,Football,"KOLEV, Ivan Petkov",BUL,Men,Football,Bronze
9392,1956,Melbourne / Stockholm,Football,Football,"KOVATCHEV, Nikolai Dimitrov",BUL,Men,Football,Bronze
9393,1956,Melbourne / Stockholm,Football,Football,"MANOLOV, Manol Tomov",BUL,Men,Football,Bronze
...,...,...,...,...,...,...,...,...,...
29172,2008,Beijing,Wrestling,Wrestling Free.,"ZLATEVA, Stanka",BUL,Women,63 - 72KG,Silver
29174,2008,Beijing,Wrestling,Wrestling Free.,"TERZIEV, Kiril",BUL,Men,66 - 74KG,Bronze
29202,2008,Beijing,Wrestling,Wrestling Gre-R,"YANAKIEV, Yavor",BUL,Men,66 - 74KG,Bronze
29919,2012,London,Boxing,Boxing,"PULEV, Tervel",BUL,Men,81 - 91KG,Bronze
31122,2012,London,Wrestling,Wrestling Freestyle,"HRISTOVA, Stanka Zlateva",BUL,Women,Wf 72 KG,Silver

In [27]:
split2 = summer.groupby(by = ['Country', 'Gender'])

In [28]:
split2_l = list(split2)

In [35]:
split2_l[30:32]

[(('BUL', 'Men'),
         Year                   City      Sport       Discipline  \
  8312   1952               Helsinki     Boxing           Boxing
  9390   1956  Melbourne / Stockholm   Football         Football
  9391   1956  Melbourne / Stockholm   Football         Football
  9392   1956  Melbourne / Stockholm   Football         Football
  9393   1956  Melbourne / Stockholm   Football         Football
  ...     ...                    ...        ...              ...
  27156  2004                 Athens  Wrestling  Wrestling Gre-R
  29150  2008                Beijing  Wrestling  Wrestling Free.
  29174  2008                Beijing  Wrestling  Wrestling Free.
  29202  2008                Beijing  Wrestling  Wrestling Gre-R
  29919  2012                 London     Boxing           Boxing

                             Athlete Country Gender      Event   Medal
  8312       NIKOLOV, Boris Georgiev     BUL    Men    71-75KG  Bronze
  9390         DIEV, Todor Nedyalkov     BUL    Men   Football  Bronze
  9391            KOLEV, Ivan Petkov     BUL    Men   Football  Bronze
  9392   KOVATCHEV, Nikolai Dimitrov     BUL    Men   Football  Bronze
  9393          MANOLOV, Manol Tomov     BUL    Men   Football  Bronze
  ...                            ...     ...    ...        ...     ...
  27156              NAZARIAN, Armen     BUL    Men  55 - 60KG  Bronze
  29150            VELIKOV, Radoslav     BUL    Men     - 55KG  Bronze
  29174               TERZIEV, Kiril     BUL    Men  66 - 74KG  Bronze
  29202              YANAKIEV, Yavor     BUL    Men  66 - 74KG  Bronze
  29919                PULEV, Tervel     BUL    Men  81 - 91KG  Bronze

  [215 rows x 9 columns]),
 (('BUL', 'Women'),
         Year      City      Sport           Discipline  \
  13006  1972    Munich  Athletics            Athletics
  13017  1972    Munich  Athletics            Athletics
  13029  1972    Munich  Athletics            Athletics
  13042  1972    Munich  Athletics            Athletics
  14163  1976  Montreal  Athletics            Athletics
  ...     ...       ...        ...                  ...
  26832  2004    Athens   Shooting             Shooting
  26848  2004    Athens   Shooting             Shooting
  28790  2008   Beijing     Rowing               Rowing
  29172  2008   Beijing  Wrestling      Wrestling Free.
  31122  2012    London  Wrestling  Wrestling Freestyle

                                      Athlete Country Gender  \
  13006                      STOEVA, Vassilka     BUL  Women
  13017          BLAGOEVA-DIMITROVA, Yordanka     BUL  Women
  13029              CHRISTOVA-YORGOVA, Diana     BUL  Women
  13042  CHRISTOVA-TODOROVA, Ivanka Mikailova     BUL  Women
  14163                    CHTEREVA, Nikolina     BUL  Women
  ...                                     ...     ...    ...
  26832                       GROZDEVA, Maria     BUL  Women
  26848                       GROZDEVA, Maria     BUL  Women
  28790                      NEYKOVA, Rumyana     BUL  Women
  29172                       ZLATEVA, Stanka     BUL  Women
  31122              HRISTOVA, Stanka Zlateva     BUL  Women

                             Event   Medal
  13006               Discus Throw  Bronze
  13017                  High Jump  Silver
  13029                  Long Jump  Silver
  13042                   Shot Put  Bronze
  14163                       800M  Silver
  ...                          ...     ...
  26832  10M Air Pistol (40 Shots)  Bronze
  26848   25M Pistol (30+30 Shots)    Gold
  28790         Single Sculls (1X)    Gold
  29172                  63 - 72KG  Silver
  31122                   Wf 72 KG  Silver

  [118 rows x 9 columns])]