# **Importing data**

## **Importing clean .csv files**

In [ ]:
with open('titanic.csv') as f:
    text = f.readlines()

In [ ]:
text

In [ ]:
len(text)

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv('titanic.csv')

In [ ]:
pd.read_csv('titanic.csv', index_col = 'pclass')

In [ ]:
pd.read_csv('titanic.csv', header = 0)

In [ ]:
pd.read_csv('titanic.csv', header = None)

In [ ]:
pd.read_csv('titanic.csv', header = 0, names = ['alive', 'class', 'gender', 'age', 'sibsp', 'parch', 'price', 'emb', 'deck'])

In [ ]:
pd.read_csv('titanic.csv', header = 0, usecols = ['age', 'sex'])

In [ ]:
df = pd.read_csv('titanic.csv', header = 0, index_col = 'pclass', usecols = ['pclass', 'age', 'sex'])

In [ ]:
df.head()

In [ ]:
df.columns = ['gender', 'age']

In [ ]:
df.head()

In [ ]:
df.index.name = 'class'

In [ ]:
df.head()

## **Importing messy .csv files**

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv('titanic_raw.csv')

In [ ]:
pd.read_csv('titanic_raw.csv', skiprows = 3, skipfooter = 2)

In [ ]:
col_names = ['Survived', 'Class', 'Gender', 'Age', 'SipSp', 'ParCh', 'Fare', 'Emb', 'Deck']

In [ ]:
titanic = pd.read_csv('titanic_raw.csv', skiprows = 3, skipfooter = 2, header = None, names = col_names)

In [ ]:
titanic.to_csv('titanic_imp.csv', index = False)

In [ ]:
pd.read_csv('titanic_imp.csv')

## **Importing clean .xls(x) files**

In [ ]:
import pandas as pd

In [ ]:
sales = pd.read_excel('sales.xls')

In [ ]:
sales.info()

In [ ]:
sales.describe()

In [ ]:
sales.head()

In [ ]:
pd.read_excel('sales.xls', index_col = 0)

In [ ]:
pd.read_excel('sales.xls', index_col = 0, header = 0)

In [ ]:
pd.read_excel('sales.xls', index_col = 0, header = 0, names = ['Name', 'Loc_City', 'Loc_Country', 'Revenue', 'Add_Comp'])

In [ ]:
pd.read_excel('sales.xls', index_col = 0, header = 0, usecols = 'A')

In [ ]:
pd.read_excel('sales.xls', index_col = 0, header = 0, usecols = 'A:C')

In [ ]:
pd.read_excel('sales.xls', index_col = 0, header = 0, usecols = 'A, C:E')

In [ ]:
pd.read_excel('sales.xls', index_col = 0, header = 0, usecols = ':C')

In [ ]:
pd.read_excel('sales.xls', index_col = 0, header = 0, usecols = [0, 3, 4])

In [ ]:
pd.read_excel('sales.xls', index_col = 0, header = 0, usecols = [0])

In [ ]:
pd.read_excel('sales.xls', index_col = 0, header = 0, usecols = ['Sales', 'Bonus'])

## **Importing messy .xls(x) files**

In [ ]:
import pandas as pd

In [ ]:
pd.read_excel('summer_raw.xls')

In [ ]:
# pd.read_excel('summer_raw.xls', sheet_name = 'summer', header = 2, usecols = list(range(2, 10)), index_col = 0)

In [ ]:
pd.read_excel('summer_raw.xls')

In [ ]:
pd.read_excel('summer_raw.xls', sheet_name = 'summer') 
# Alternative
# pd.read_excel('summer_raw.xls', sheet_name = 1)

In [ ]:
pd.read_excel('summer_raw.xls', sheet_name = 'summer', skiprows = 2)

In [ ]:
pd.read_excel('summer_raw.xls', sheet_name = 'summer', skiprows = 2, usecols = "D:L")
# Alternative
# pd.read_excel('summer_raw.xls', sheet_name = 'summer', skiprows = 2, usecols = "C:L", index_col = 0)

In [ ]:
summer = pd.read_excel('summer_raw.xls', sheet_name = 'summer', skiprows = 2, usecols = "D:L")

In [ ]:
summer.info()

In [ ]:
summer.describe()

In [ ]:
summer.head()

In [ ]:
summer.to_csv('summer_imp.csv', index = False)

In [ ]:
summer.to_excel('summer_imp.xlsx', index = False, engine = 'xlsxwriter')

## **Importing Data from the Web**

In [1]:
import pandas as pd

In [17]:
url_1 = 'https://en.wikipedia.org/wiki/1976_Summer_Olympics_medal_table'

In [18]:
sog_1976 = pd.read_html(url, index_col = 0)[3]

In [19]:
sog_1976.head()

                NOC  Gold  Silver  Bronze  Total
Rank
1      Soviet Union    49      41      35    125
2      East Germany    40      25      25     90
3     United States    34      35      25     94
4      West Germany    10      12      17     39
5             Japan     9       6      10     25

In [20]:
sog_1976.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42 entries, 1 to Totals (41 entries)
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NOC     42 non-null     object
 1   Gold    42 non-null     int64
 2   Silver  42 non-null     int64
 3   Bronze  42 non-null     int64
 4   Total   42 non-null     int64
dtypes: int64(4), object(1)
memory usage: 2.0+ KB

In [21]:
sog_1976.describe()

             Gold      Silver      Bronze       Total
count   42.000000   42.000000   42.000000   42.000000
mean     9.428571    9.476190   10.285714   29.190476
std     31.634454   31.209941   33.443280   96.038925
min      0.000000    0.000000    0.000000    1.000000
25%      0.000000    1.000000    1.000000    2.000000
50%      1.000000    2.000000    2.500000    5.000000
75%      4.000000    5.000000    5.750000   13.000000
max    198.000000  199.000000  216.000000  613.000000

In [34]:
sog_1976.to_csv('sog_1976.csv', index = None)

In [23]:
url2 = 'https://en.wikipedia.org/wiki/1996_Summer_Olympics_medal_table'

In [30]:
sog_1996 = pd.read_html(url2)[3]

In [31]:
sog_1996.head()

  Rank          Nation  Gold  Silver  Bronze  Total
0    1  United States*    44      32      25    101
1    2          Russia    26      21      16     63
2    3         Germany    20      18      27     65
3    4           China    16      22      12     50
4    5          France    15       7      15     37

In [32]:
sog_1996.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rank    80 non-null     object
 1   Nation  80 non-null     object
 2   Gold    80 non-null     int64
 3   Silver  80 non-null     int64
 4   Bronze  80 non-null     int64
 5   Total   80 non-null     int64
dtypes: int64(4), object(2)
memory usage: 3.9+ KB

In [33]:
sog_1996.describe()

             Gold      Silver      Bronze       Total
count   80.000000   80.000000   80.000000   80.000000
mean     6.775000    6.825000    7.450000   21.050000
std     30.621402   30.648177   33.377359   94.461418
min      0.000000    0.000000    0.000000    1.000000
25%      0.000000    0.000000    1.000000    1.000000
50%      1.000000    1.000000    1.000000    4.000000
75%      4.000000    4.000000    5.000000   15.000000
max    271.000000  273.000000  298.000000  842.000000

In [35]:
sog_1996.to_csv('sog_1996.csv', index = None)