# **DataFrame Basics III**

## **Sorting dataframes**

In [1]:
import pandas as pd

In [2]:
titanic = pd.read_csv('titanic.csv')

In [3]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [4]:
titanic.age.sort_values()

803    0.42
755    0.67
644    0.75
469    0.75
78     0.83
       ...
859     NaN
863     NaN
868     NaN
878     NaN
888     NaN
Name: age, Length: 891, dtype: float64

In [5]:
titanic.sort_values(by = 'age')

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
803         1       3    male  0.42      0      1   8.5167        C  NaN
755         1       2    male  0.67      1      1  14.5000        S  NaN
644         1       3  female  0.75      2      1  19.2583        C  NaN
469         1       3  female  0.75      2      1  19.2583        C  NaN
78          1       2    male  0.83      0      2  29.0000        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
859         0       3    male   NaN      0      0   7.2292        C  NaN
863         0       3  female   NaN      8      2  69.5500        S  NaN
868         0       3    male   NaN      0      0   9.5000        S  NaN
878         0       3    male   NaN      0      0   7.8958        S  NaN
888         0       3  female   NaN      1      2  23.4500        S  NaN

[891 rows x 9 columns]

In [6]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [7]:
titanic.sort_values(by = 'age', inplace = True)

In [8]:
titanic.head()

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
803         1       3    male  0.42      0      1   8.5167        C  NaN
755         1       2    male  0.67      1      1  14.5000        S  NaN
644         1       3  female  0.75      2      1  19.2583        C  NaN
469         1       3  female  0.75      2      1  19.2583        C  NaN
78          1       2    male  0.83      0      2  29.0000        S  NaN

In [9]:
titanic.sort_index(inplace = True)

In [10]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [11]:
titanic.sort_values(by = ['age', 'pclass'], inplace = True)

In [12]:
titanic.head(20)

     survived  pclass     sex   age  sibsp  parch      fare embarked deck
803         1       3    male  0.42      0      1    8.5167        C  NaN
755         1       2    male  0.67      1      1   14.5000        S  NaN
469         1       3  female  0.75      2      1   19.2583        C  NaN
644         1       3  female  0.75      2      1   19.2583        C  NaN
78          1       2    male  0.83      0      2   29.0000        S  NaN
831         1       2    male  0.83      1      1   18.7500        S  NaN
305         1       1    male  0.92      1      2  151.5500        S    C
183         1       2    male  1.00      2      1   39.0000        S    F
827         1       2    male  1.00      0      2   37.0042        C  NaN
164         0       3    male  1.00      4      1   39.6875        S  NaN
172         1       3  female  1.00      1      1   11.1333        S  NaN
381         1       3  female  1.00      0      2   15.7417        C  NaN
386         0       3    male  1.00      5      2   46.9000        S  NaN
788         1       3    male  1.00      1      2   20.5750        S  NaN
297         0       1  female  2.00      1      2  151.5500        S    C
340         1       2    male  2.00      1      1   26.0000        S    F
530         1       2  female  2.00      1      1   26.0000        S  NaN
7           0       3    male  2.00      3      1   21.0750        S  NaN
16          0       3    male  2.00      4      1   29.1250        Q  NaN
119         0       3  female  2.00      4      2   31.2750        S  NaN

In [13]:
titanic.sort_index(inplace = True)

In [14]:
titanic.sort_values(by = ['age', 'pclass', 'sex'], ascending = [True, True, False], inplace = True)

In [15]:
pd.options.display.max_rows = 900

In [16]:
titanic

     survived  pclass     sex    age  sibsp  parch      fare embarked deck
803         1       3    male   0.42      0      1    8.5167        C  NaN
755         1       2    male   0.67      1      1   14.5000        S  NaN
469         1       3  female   0.75      2      1   19.2583        C  NaN
644         1       3  female   0.75      2      1   19.2583        C  NaN
78          1       2    male   0.83      0      2   29.0000        S  NaN
831         1       2    male   0.83      1      1   18.7500        S  NaN
305         1       1    male   0.92      1      2  151.5500        S    C
183         1       2    male   1.00      2      1   39.0000        S    F
827         1       2    male   1.00      0      2   37.0042        C  NaN
164         0       3    male   1.00      4      1   39.6875        S  NaN
386         0       3    male   1.00      5      2   46.9000        S  NaN
788         1       3    male   1.00      1      2   20.5750        S  NaN
172         1       3  female   1.00      1      1   11.1333        S  NaN
381         1       3  female   1.00      0      2   15.7417        C  NaN
297         0       1  female   2.00      1      2  151.5500        S    C
340         1       2    male   2.00      1      1   26.0000        S    F
530         1       2  female   2.00      1      1   26.0000        S  NaN
7           0       3    male   2.00      3      1   21.0750        S  NaN
16          0       3    male   2.00      4      1   29.1250        Q  NaN
824         0       3    male   2.00      4      1   39.6875        S  NaN
119         0       3  female   2.00      4      2   31.2750        S  NaN
205         0       3  female   2.00      0      1   10.4625        S    G
479         1       3  female   2.00      0      1   12.2875        S  NaN
642         0       3  female   2.00      3      2   27.9000        S  NaN
193         1       2    male   3.00      1      1   26.0000        S    F
407         1       2    male   3.00      1      1   18.7500        S  NaN
43          1       2  female   3.00      1      2   41.5792        C  NaN
261         1       3    male   3.00      4      2   31.3875        S  NaN
348         1       3    male   3.00      1      1   15.9000        S  NaN
374         0       3  female   3.00      3      1   21.0750        S  NaN
445         1       1    male   4.00      0      2   81.8583        S    A
618         1       2  female   4.00      2      1   39.0000        S    F
750         1       2  female   4.00      1      1   23.0000        S  NaN
63          0       3    male   4.00      3      2   27.9000        S  NaN
171         0       3    male   4.00      4      1   29.1250        Q  NaN
850         0       3    male   4.00      4      2   31.2750        S  NaN
869         1       3    male   4.00      1      1   11.1333        S  NaN
10          1       3  female   4.00      1      1   16.7000        S    G
184         1       3  female   4.00      0      2   22.0250        S  NaN
691         1       3  female   4.00      0      1   13.4167        C  NaN
58          1       2  female   5.00      1      2   27.7500        S  NaN
233         1       3  female   5.00      4      2   31.3875        S  NaN
448         1       3  female   5.00      2      1   19.2583        C  NaN
777         1       3  female   5.00      0      0   12.4750        S  NaN
720         1       2  female   6.00      0      1   33.0000        S  NaN
751         1       3    male   6.00      0      1   12.4750        S    E
813         0       3  female   6.00      4      2   31.2750        S  NaN
535         1       2  female   7.00      0      2   26.2500        S  NaN
50          0       3    male   7.00      4      1   39.6875        S  NaN
278         0       3    male   7.00      4      1   29.1250        Q  NaN
549         1       2    male   8.00      1      1   36.7500        S  NaN
237         1       2  female   8.00      0      2   26.2500        S  NaN
787         0       3    male   8.00      4      1   29.1250        Q  NaN
24          0       3  female   8.00      3      1   21.0750        S  NaN
165         1       3    male   9.00      0      2   20.5250        S  NaN
182         0       3    male   9.00      4      2   31.3875        S  NaN
480         0       3    male   9.00      5      2   46.9000        S  NaN
489         1       3    male   9.00      1      1   15.9000        S  NaN
147         0       3  female   9.00      2      2   34.3750        S  NaN
541         0       3  female   9.00      4      2   31.2750        S  NaN
634         0       3  female   9.00      3      2   27.9000        S  NaN
852         0       3  female   9.00      1      1   15.2458        C  NaN
819         0       3    male  10.00      3      2   27.9000        S  NaN
419         0       3  female  10.00      0      2   24.1500        S  NaN
802         1       1    male  11.00      1      2  120.0000        S    B
59          0       3    male  11.00      5      2   46.9000        S  NaN
731         0       3    male  11.00      0      0   18.7875        C  NaN
542         0       3  female  11.00      4      2   31.2750        S  NaN
125         1       3    male  12.00      1      0   11.2417        C  NaN
446         1       2  female  13.00      0      1   19.5000        S  NaN
780         1       3  female  13.00      0      0    7.2292        C  NaN
435         1       1  female  14.00      1      2  120.0000        S    B
9           1       2  female  14.00      1      0   30.0708        C  NaN
683         0       3    male  14.00      5      2   46.9000        S  NaN
686         0       3    male  14.00      4      1   39.6875        S  NaN
14          0       3  female  14.00      0      0    7.8542        S  NaN
39          1       3  female  14.00      1      0   11.2417        C  NaN
111         0       3  female  14.50      1      0   14.4542        C  NaN
689         1       1  female  15.00      0      1  211.3375        S    B
352         0       3    male  15.00      1      1    7.2292        C  NaN
22          1       3  female  15.00      0      0    8.0292        Q  NaN
830         1       3  female  15.00      1      0   14.4542        C  NaN
875         1       3  female  15.00      0      0    7.2250        C  NaN
329         1       1  female  16.00      0      1   57.9792        C    B
504         1       1  female  16.00      0      0   86.5000        S    B
853         1       1  female  16.00      0      1   39.4000        S    D
791         0       2    male  16.00      0      0   26.0000        S  NaN
841         0       2    male  16.00      0      0   10.5000        S  NaN
86          0       3    male  16.00      1      3   34.3750        S  NaN
138         0       3    male  16.00      0      0    9.2167        S  NaN
220         1       3    male  16.00      0      0    8.0500        S  NaN
266         0       3    male  16.00      4      1   39.6875        S  NaN
282         0       3    male  16.00      0      0    9.5000        S  NaN
333         0       3    male  16.00      2      0   18.0000        S  NaN
574         0       3    male  16.00      0      0    8.0500        S  NaN
746         0       3    male  16.00      1      1   20.2500        S  NaN
764         0       3    male  16.00      0      0    7.7750        S  NaN
71          0       3  female  16.00      5      2   46.9000        S  NaN
156         1       3  female  16.00      0      0    7.7333        Q  NaN
208         1       3  female  16.00      0      0    7.7500        Q  NaN
550         1       1    male  17.00      0      2  110.8833        C    C
307         1       1  female  17.00      1      0  108.9000        C    C
781         1       1  female  17.00      1      0   57.0000        S    B
84          1       2  female  17.00      0      0   10.5000        S  NaN
389         1       2  female  17.00      0      0   12.0000        C  NaN
163         0       3    male  17.00      0      0    8.6625        S  NaN
433         0       3    male  17.00      0      0    7.1250        S  NaN
500         0       3    male  17.00      0      0    8.6625        S  NaN
532         0       3    male  17.00      1      1    7.2292        C  NaN
721         0       3    male  17.00      1      0    7.0542        S  NaN
844         0       3    male  17.00      0      0    8.6625        S  NaN
68          1       3  female  17.00      4      2    7.9250        S  NaN
114         0       3  female  17.00      0      0   14.4583        C  NaN
505         0       1    male  18.00      1      0  108.9000        C    C
311         1       1  female  18.00      2      2  262.3750        C    B
585         1       1  female  18.00      0      2   79.6500        S    E
700         1       1  female  18.00      1      0  227.5250        C    C
144         0       2    male  18.00      0      0   11.5000        S  NaN
228         0       2    male  18.00      0      0   13.0000        S  NaN
385         0       2    male  18.00      0      0   73.5000        S  NaN
757         0       2    male  18.00      0      0   11.5000        S  NaN
417         1       2  female  18.00      0      2   13.0000        S  NaN
651         1       2  female  18.00      0      1   23.0000        S  NaN
175         0       3    male  18.00      1      1    7.8542        S  NaN
204         1       3    male  18.00      0      0    8.0500        S  NaN
371         0       3    male  18.00      1      0    6.4958        S  NaN
424         0       3    male  18.00      1      1   20.2125        S  NaN
675         0       3    male  18.00      0      0    7.7750        S  NaN
688         0       3    male  18.00      0      0    7.7958        S  NaN
775         0       3    male  18.00      0      0    7.7500        S  NaN
834         0       3    male  18.00      0      0    8.3000        S  NaN
38          0       3  female  18.00      2      0   18.0000        S  NaN
49          0       3  female  18.00      1      0   17.8000        S  NaN
654         0       3  female  18.00      0      0    6.7500        Q  NaN
677         1       3  female  18.00      0      0    9.8417        S  NaN
702         0       3  female  18.00      0      1   14.4542        C  NaN
786         1       3  female  18.00      0      0    7.4958        S  NaN
807         0       3  female  18.00      0      0    7.7750        S  NaN
855         1       3  female  18.00      0      1    9.3500        S  NaN
27          0       1    male  19.00      3      2  263.0000        S    C
748         0       1    male  19.00      1      0   53.1000        S    D
136         1       1  female  19.00      0      2   26.2833        S    D
291         1       1  female  19.00      1      0   91.0792        C    B
887         1       1  female  19.00      0      0   30.0000        S    B
145         0       2    male  19.00      1      1   36.7500        S  NaN
191         0       2    male  19.00      0      0   13.0000        S  NaN
226         1       2    male  19.00      0      0   10.5000        S  NaN
238         0       2    male  19.00      0      0   10.5000        S  NaN
427         1       2  female  19.00      0      0   26.0000        S  NaN
546         1       2  female  19.00      1      0   26.0000        S  NaN
67          0       3    male  19.00      0      0    8.1583        S  NaN
143         0       3    male  19.00      0      0    6.7500        Q  NaN
283         1       3    male  19.00      0      0    8.0500        S  NaN
302         0       3    male  19.00      0      0    0.0000        S  NaN
372         0       3    male  19.00      0      0    8.0500        S  NaN
379         0       3    male  19.00      0      0    7.7750        S  NaN
566         0       3    male  19.00      0      0    7.8958        S  NaN
575         0       3    male  19.00      0      0   14.5000        S  NaN
646         0       3    male  19.00      0      0    7.8958        S  NaN
687         0       3    male  19.00      0      0   10.1708        S  NaN
715         0       3    male  19.00      0      0    7.6500        S    F
877         0       3    male  19.00      0      0    7.8958        S  NaN
44          1       3  female  19.00      0      0    7.8792        Q  NaN
192         1       3  female  19.00      1      0    7.8542        S  NaN
12          0       3    male  20.00      0      0    8.0500        S  NaN
91          0       3    male  20.00      0      0    7.8542        S  NaN
131         0       3    male  20.00      0      0    7.0500        S  NaN
378         0       3    male  20.00      0      0    4.0125        C  NaN
441         0       3    male  20.00      0      0    9.5000        S  NaN
622         1       3    male  20.00      1      1   15.7417        C  NaN
640         0       3    male  20.00      0      0    7.8542        S  NaN
664         1       3    male  20.00      1      0    7.9250        S  NaN
682         0       3    male  20.00      0      0    9.2250        S  NaN
725         0       3    male  20.00      0      0    8.6625        S  NaN
762         1       3    male  20.00      0      0    7.2292        C  NaN
840         0       3    male  20.00      0      0    7.9250        S  NaN
876         0       3    male  20.00      0      0    9.8458        S  NaN
113         0       3  female  20.00      1      0    9.8250        S  NaN
404         0       3  female  20.00      0      0    8.6625        S  NaN
227         0       3    male  20.50      0      0    7.2500        S  NaN
102         0       1    male  21.00      0      1   77.2875        S    D
627         1       1  female  21.00      0      0   77.9583        S    D
742         1       1  female  21.00      2      2  262.3750        C    B
72          0       2    male  21.00      0      0   73.5000        S  NaN
120         0       2    male  21.00      2      0   73.5000        S  NaN
861         0       2    male  21.00      1      0   11.5000        S  NaN
56          1       2  female  21.00      0      0   10.5000        S  NaN
37          0       3    male  21.00      0      0    8.0500        S  NaN
51          0       3    male  21.00      0      0    7.8000        S  NaN
115         0       3    male  21.00      0      0    7.9250        S  NaN
173         0       3    male  21.00      0      0    7.9250        S  NaN
391         1       3    male  21.00      0      0    7.7958        S  NaN
408         0       3    male  21.00      0      0    7.7750        S  NaN
421         0       3    male  21.00      0      0    7.7333        Q  NaN
491         0       3    male  21.00      0      0    7.2500        S  NaN
494         0       3    male  21.00      0      0    8.0500        S  NaN
623         0       3    male  21.00      0      0    7.8542        S  NaN
624         0       3    male  21.00      0      0   16.1000        S  NaN
652         0       3    male  21.00      0      0    8.4333        S  NaN
836         0       3    male  21.00      0      0    8.6625        S  NaN
106         1       3  female  21.00      0      0    7.6500        S  NaN
402         0       3  female  21.00      1      0    9.8250        S  NaN
436         0       3  female  21.00      2      2   34.3750        S  NaN
501         0       3  female  21.00      0      0    7.7500        Q  NaN
373         0       1    male  22.00      0      0  135.6333        C  NaN
151         1       1  female  22.00      1      0   66.6000        S    C
356         1       1  female  22.00      0      1   55.0000        S    E
539         1       1  female  22.00      0      2   49.5000        C    B
708         1       1  female  22.00      0      0  151.5500        S  NaN
323         1       2  female  22.00      1      1   29.0000        S  NaN
608         1       2  female  22.00      1      2   41.5792        C  NaN
0           0       3    male  22.00      1      0    7.2500        S  NaN
60          0       3    male  22.00      0      0    7.2292        C  NaN
80          0       3    male  22.00      0      0    9.0000        S  NaN
112         0       3    male  22.00      0      0    8.0500        S  NaN
212         0       3    male  22.00      0      0    7.2500        S  NaN
225         0       3    male  22.00      0      0    9.3500        S  NaN
243         0       3    male  22.00      0      0    7.1250        S  NaN
287         0       3    male  22.00      0      0    7.8958        S  NaN
320         0       3    male  22.00      0      0    7.2500        S  NaN
395         0       3    male  22.00      0      0    7.7958        S  NaN
478         0       3    male  22.00      0      0    7.5208        S  NaN
521         0       3    male  22.00      0      0    7.8958        S  NaN
553         1       3    male  22.00      0      0    7.2250        C  NaN
588         0       3    male  22.00      0      0    8.0500        S  NaN
141         1       3  female  22.00      0      0    7.7500        S  NaN
289         1       3  female  22.00      0      0    7.7500        Q  NaN
376         1       3  female  22.00      0      0    7.2500        S  NaN
474         0       3  female  22.00      0      0    9.8375        S  NaN
554         1       3  female  22.00      0      0    7.7750        S  NaN
882         0       3  female  22.00      0      0   10.5167        S  NaN
97          1       1    male  23.00      0      1   63.3583        C    D
88          1       1  female  23.00      3      2  263.0000        S    C
393         1       1  female  23.00      1      0  113.2750        C    D
135         0       2    male  23.00      0      0   15.0458        C  NaN
398         0       2    male  23.00      0      0   10.5000        S  NaN
529         0       2    male  23.00      2      1   11.5000        S  NaN
658         0       2    male  23.00      0      0   13.0000        S  NaN
733         0       2    male  23.00      0      0   13.0000        S  NaN
734         0       2    male  23.00      0      0   13.0000        S  NaN
473         1       2  female  23.00      0      0   13.7917        C    D
350         0       3    male  23.00      0      0    9.2250        S  NaN
753         0       3    male  23.00      0      0    7.8958        S  NaN
833         0       3    male  23.00      0      0    7.8542        S  NaN
649         1       3  female  23.00      0      0    7.5500        S  NaN
816         0       3  female  23.00      0      0    7.9250        S  NaN
296         0       3    male  23.50      0      0    7.2292        C  NaN
118         0       1    male  24.00      0      1  247.5208        C    B
139         0       1    male  24.00      0      0   79.2000        C    B
310         1       1  female  24.00      0      0   83.1583        C    C
341         1       1  female  24.00      3      2  263.0000        S    C
369         1       1  female  24.00      0      0   69.3000        C    B
641         1       1  female  24.00      0      0   69.3000        C    B
710         1       1  female  24.00      0      0   49.5042        C    C
234         0       2    male  24.00      0      0   10.5000        S  NaN
655         0       2    male  24.00      2      0   73.5000        S  NaN
864         0       2    male  24.00      0      0   13.0000        S  NaN
199         0       2  female  24.00      0      0   13.0000        S  NaN
247         1       2  female  24.00      0      2   14.5000        S  NaN
316         1       2  female  24.00      1      0   26.0000        S  NaN
345         1       2  female  24.00      0      0   13.0000        S    F
437         1       2  female  24.00      2      3   18.7500        S  NaN
600         1       2  female  24.00      2      1   27.0000        S  NaN
615         1       2  female  24.00      1      2   65.0000        S  NaN
89          0       3    male  24.00      0      0    8.0500        S  NaN

In [17]:
titanic.sort_index()

     survived  pclass     sex    age  sibsp  parch      fare embarked deck
0           0       3    male  22.00      1      0    7.2500        S  NaN
1           1       1  female  38.00      1      0   71.2833        C    C
2           1       3  female  26.00      0      0    7.9250        S  NaN
3           1       1  female  35.00      1      0   53.1000        S    C
4           0       3    male  35.00      0      0    8.0500        S  NaN
5           0       3    male    NaN      0      0    8.4583        Q  NaN
6           0       1    male  54.00      0      0   51.8625        S    E
7           0       3    male   2.00      3      1   21.0750        S  NaN
8           1       3  female  27.00      0      2   11.1333        S  NaN
9           1       2  female  14.00      1      0   30.0708        C  NaN
10          1       3  female   4.00      1      1   16.7000        S    G
11          1       1  female  58.00      0      0   26.5500        S    C
12          0       3    male  20.00      0      0    8.0500        S  NaN
13          0       3    male  39.00      1      5   31.2750        S  NaN
14          0       3  female  14.00      0      0    7.8542        S  NaN
15          1       2  female  55.00      0      0   16.0000        S  NaN
16          0       3    male   2.00      4      1   29.1250        Q  NaN
17          1       2    male    NaN      0      0   13.0000        S  NaN
18          0       3  female  31.00      1      0   18.0000        S  NaN
19          1       3  female    NaN      0      0    7.2250        C  NaN
20          0       2    male  35.00      0      0   26.0000        S  NaN
21          1       2    male  34.00      0      0   13.0000        S    D
22          1       3  female  15.00      0      0    8.0292        Q  NaN
23          1       1    male  28.00      0      0   35.5000        S    A
24          0       3  female   8.00      3      1   21.0750        S  NaN
25          1       3  female  38.00      1      5   31.3875        S  NaN
26          0       3    male    NaN      0      0    7.2250        C  NaN
27          0       1    male  19.00      3      2  263.0000        S    C
28          1       3  female    NaN      0      0    7.8792        Q  NaN
29          0       3    male    NaN      0      0    7.8958        S  NaN
30          0       1    male  40.00      0      0   27.7208        C  NaN
31          1       1  female    NaN      1      0  146.5208        C    B
32          1       3  female    NaN      0      0    7.7500        Q  NaN
33          0       2    male  66.00      0      0   10.5000        S  NaN
34          0       1    male  28.00      1      0   82.1708        C  NaN
35          0       1    male  42.00      1      0   52.0000        S  NaN
36          1       3    male    NaN      0      0    7.2292        C  NaN
37          0       3    male  21.00      0      0    8.0500        S  NaN
38          0       3  female  18.00      2      0   18.0000        S  NaN
39          1       3  female  14.00      1      0   11.2417        C  NaN
40          0       3  female  40.00      1      0    9.4750        S  NaN
41          0       2  female  27.00      1      0   21.0000        S  NaN
42          0       3    male    NaN      0      0    7.8958        C  NaN
43          1       2  female   3.00      1      2   41.5792        C  NaN
44          1       3  female  19.00      0      0    7.8792        Q  NaN
45          0       3    male    NaN      0      0    8.0500        S  NaN
46          0       3    male    NaN      1      0   15.5000        Q  NaN
47          1       3  female    NaN      0      0    7.7500        Q  NaN
48          0       3    male    NaN      2      0   21.6792        C  NaN
49          0       3  female  18.00      1      0   17.8000        S  NaN
50          0       3    male   7.00      4      1   39.6875        S  NaN
51          0       3    male  21.00      0      0    7.8000        S  NaN
52          1       1  female  49.00      1      0   76.7292        C    D
53          1       2  female  29.00      1      0   26.0000        S  NaN
54          0       1    male  65.00      0      1   61.9792        C    B
55          1       1    male    NaN      0      0   35.5000        S    C
56          1       2  female  21.00      0      0   10.5000        S  NaN
57          0       3    male  28.50      0      0    7.2292        C  NaN
58          1       2  female   5.00      1      2   27.7500        S  NaN
59          0       3    male  11.00      5      2   46.9000        S  NaN
60          0       3    male  22.00      0      0    7.2292        C  NaN
61          1       1  female  38.00      0      0   80.0000      NaN    B
62          0       1    male  45.00      1      0   83.4750        S    C
63          0       3    male   4.00      3      2   27.9000        S  NaN
64          0       1    male    NaN      0      0   27.7208        C  NaN
65          1       3    male    NaN      1      1   15.2458        C  NaN
66          1       2  female  29.00      0      0   10.5000        S    F
67          0       3    male  19.00      0      0    8.1583        S  NaN
68          1       3  female  17.00      4      2    7.9250        S  NaN
69          0       3    male  26.00      2      0    8.6625        S  NaN
70          0       2    male  32.00      0      0   10.5000        S  NaN
71          0       3  female  16.00      5      2   46.9000        S  NaN
72          0       2    male  21.00      0      0   73.5000        S  NaN
73          0       3    male  26.00      1      0   14.4542        C  NaN
74          1       3    male  32.00      0      0   56.4958        S  NaN
75          0       3    male  25.00      0      0    7.6500        S    F
76          0       3    male    NaN      0      0    7.8958        S  NaN
77          0       3    male    NaN      0      0    8.0500        S  NaN
78          1       2    male   0.83      0      2   29.0000        S  NaN
79          1       3  female  30.00      0      0   12.4750        S  NaN
80          0       3    male  22.00      0      0    9.0000        S  NaN
81          1       3    male  29.00      0      0    9.5000        S  NaN
82          1       3  female    NaN      0      0    7.7875        Q  NaN
83          0       1    male  28.00      0      0   47.1000        S  NaN
84          1       2  female  17.00      0      0   10.5000        S  NaN
85          1       3  female  33.00      3      0   15.8500        S  NaN
86          0       3    male  16.00      1      3   34.3750        S  NaN
87          0       3    male    NaN      0      0    8.0500        S  NaN
88          1       1  female  23.00      3      2  263.0000        S    C
89          0       3    male  24.00      0      0    8.0500        S  NaN
90          0       3    male  29.00      0      0    8.0500        S  NaN
91          0       3    male  20.00      0      0    7.8542        S  NaN
92          0       1    male  46.00      1      0   61.1750        S    E
93          0       3    male  26.00      1      2   20.5750        S  NaN
94          0       3    male  59.00      0      0    7.2500        S  NaN
95          0       3    male    NaN      0      0    8.0500        S  NaN
96          0       1    male  71.00      0      0   34.6542        C    A
97          1       1    male  23.00      0      1   63.3583        C    D
98          1       2  female  34.00      0      1   23.0000        S  NaN
99          0       2    male  34.00      1      0   26.0000        S  NaN
100         0       3  female  28.00      0      0    7.8958        S  NaN
101         0       3    male    NaN      0      0    7.8958        S  NaN
102         0       1    male  21.00      0      1   77.2875        S    D
103         0       3    male  33.00      0      0    8.6542        S  NaN
104         0       3    male  37.00      2      0    7.9250        S  NaN
105         0       3    male  28.00      0      0    7.8958        S  NaN
106         1       3  female  21.00      0      0    7.6500        S  NaN
107         1       3    male    NaN      0      0    7.7750        S  NaN
108         0       3    male  38.00      0      0    7.8958        S  NaN
109         1       3  female    NaN      1      0   24.1500        Q  NaN
110         0       1    male  47.00      0      0   52.0000        S    C
111         0       3  female  14.50      1      0   14.4542        C  NaN
112         0       3    male  22.00      0      0    8.0500        S  NaN
113         0       3  female  20.00      1      0    9.8250        S  NaN
114         0       3  female  17.00      0      0   14.4583        C  NaN
115         0       3    male  21.00      0      0    7.9250        S  NaN
116         0       3    male  70.50      0      0    7.7500        Q  NaN
117         0       2    male  29.00      1      0   21.0000        S  NaN
118         0       1    male  24.00      0      1  247.5208        C    B
119         0       3  female   2.00      4      2   31.2750        S  NaN
120         0       2    male  21.00      2      0   73.5000        S  NaN
121         0       3    male    NaN      0      0    8.0500        S  NaN
122         0       2    male  32.50      1      0   30.0708        C  NaN
123         1       2  female  32.50      0      0   13.0000        S    E
124         0       1    male  54.00      0      1   77.2875        S    D
125         1       3    male  12.00      1      0   11.2417        C  NaN
126         0       3    male    NaN      0      0    7.7500        Q  NaN
127         1       3    male  24.00      0      0    7.1417        S  NaN
128         1       3  female    NaN      1      1   22.3583        C    F
129         0       3    male  45.00      0      0    6.9750        S  NaN
130         0       3    male  33.00      0      0    7.8958        C  NaN
131         0       3    male  20.00      0      0    7.0500        S  NaN
132         0       3  female  47.00      1      0   14.5000        S  NaN
133         1       2  female  29.00      1      0   26.0000        S  NaN
134         0       2    male  25.00      0      0   13.0000        S  NaN
135         0       2    male  23.00      0      0   15.0458        C  NaN
136         1       1  female  19.00      0      2   26.2833        S    D
137         0       1    male  37.00      1      0   53.1000        S    C
138         0       3    male  16.00      0      0    9.2167        S  NaN
139         0       1    male  24.00      0      0   79.2000        C    B
140         0       3  female    NaN      0      2   15.2458        C  NaN
141         1       3  female  22.00      0      0    7.7500        S  NaN
142         1       3  female  24.00      1      0   15.8500        S  NaN
143         0       3    male  19.00      0      0    6.7500        Q  NaN
144         0       2    male  18.00      0      0   11.5000        S  NaN
145         0       2    male  19.00      1      1   36.7500        S  NaN
146         1       3    male  27.00      0      0    7.7958        S  NaN
147         0       3  female   9.00      2      2   34.3750        S  NaN
148         0       2    male  36.50      0      2   26.0000        S    F
149         0       2    male  42.00      0      0   13.0000        S  NaN
150         0       2    male  51.00      0      0   12.5250        S  NaN
151         1       1  female  22.00      1      0   66.6000        S    C
152         0       3    male  55.50      0      0    8.0500        S  NaN
153         0       3    male  40.50      0      2   14.5000        S  NaN
154         0       3    male    NaN      0      0    7.3125        S  NaN
155         0       1    male  51.00      0      1   61.3792        C  NaN
156         1       3  female  16.00      0      0    7.7333        Q  NaN
157         0       3    male  30.00      0      0    8.0500        S  NaN
158         0       3    male    NaN      0      0    8.6625        S  NaN
159         0       3    male    NaN      8      2   69.5500        S  NaN
160         0       3    male  44.00      0      1   16.1000        S  NaN
161         1       2  female  40.00      0      0   15.7500        S  NaN
162         0       3    male  26.00      0      0    7.7750        S  NaN
163         0       3    male  17.00      0      0    8.6625        S  NaN
164         0       3    male   1.00      4      1   39.6875        S  NaN
165         1       3    male   9.00      0      2   20.5250        S  NaN
166         1       1  female    NaN      0      1   55.0000        S    E
167         0       3  female  45.00      1      4   27.9000        S  NaN
168         0       1    male    NaN      0      0   25.9250        S  NaN
169         0       3    male  28.00      0      0   56.4958        S  NaN
170         0       1    male  61.00      0      0   33.5000        S    B
171         0       3    male   4.00      4      1   29.1250        Q  NaN
172         1       3  female   1.00      1      1   11.1333        S  NaN
173         0       3    male  21.00      0      0    7.9250        S  NaN
174         0       1    male  56.00      0      0   30.6958        C    A
175         0       3    male  18.00      1      1    7.8542        S  NaN
176         0       3    male    NaN      3      1   25.4667        S  NaN
177         0       1  female  50.00      0      0   28.7125        C    C
178         0       2    male  30.00      0      0   13.0000        S  NaN
179         0       3    male  36.00      0      0    0.0000        S  NaN
180         0       3  female    NaN      8      2   69.5500        S  NaN
181         0       2    male    NaN      0      0   15.0500        C  NaN
182         0       3    male   9.00      4      2   31.3875        S  NaN
183         1       2    male   1.00      2      1   39.0000        S    F
184         1       3  female   4.00      0      2   22.0250        S  NaN
185         0       1    male    NaN      0      0   50.0000        S    A
186         1       3  female    NaN      1      0   15.5000        Q  NaN
187         1       1    male  45.00      0      0   26.5500        S  NaN
188         0       3    male  40.00      1      1   15.5000        Q  NaN
189         0       3    male  36.00      0      0    7.8958        S  NaN
190         1       2  female  32.00      0      0   13.0000        S  NaN
191         0       2    male  19.00      0      0   13.0000        S  NaN
192         1       3  female  19.00      1      0    7.8542        S  NaN
193         1       2    male   3.00      1      1   26.0000        S    F
194         1       1  female  44.00      0      0   27.7208        C    B
195         1       1  female  58.00      0      0  146.5208        C    B
196         0       3    male    NaN      0      0    7.7500        Q  NaN
197         0       3    male  42.00      0      1    8.4042        S  NaN
198         1       3  female    NaN      0      0    7.7500        Q  NaN
199         0       2  female  24.00      0      0   13.0000        S  NaN
200         0       3    male  28.00      0      0    9.5000        S  NaN
201         0       3    male    NaN      8      2   69.5500        S  NaN
202         0       3    male  34.00      0      0    6.4958        S  NaN
203         0       3    male  45.50      0      0    7.2250        C  NaN
204         1       3    male  18.00      0      0    8.0500        S  NaN
205         0       3  female   2.00      0      1   10.4625        S    G
206         0       3    male  32.00      1      0   15.8500        S  NaN
207         1       3    male  26.00      0      0   18.7875        C  NaN
208         1       3  female  16.00      0      0    7.7500        Q  NaN
209         1       1    male  40.00      0      0   31.0000        C    A
210         0       3    male  24.00      0      0    7.0500        S  NaN
211         1       2  female  35.00      0      0   21.0000        S  NaN
212         0       3    male  22.00      0      0    7.2500        S  NaN
213         0       2    male  30.00      0      0   13.0000        S  NaN
214         0       3    male    NaN      1      0    7.7500        Q  NaN
215         1       1  female  31.00      1      0  113.2750        C    D
216         1       3  female  27.00      0      0    7.9250        S  NaN
217         0       2    male  42.00      1      0   27.0000        S  NaN
218         1       1  female  32.00      0      0   76.2917        C    D
219         0       2    male  30.00      0      0   10.5000        S  NaN
220         1       3    male  16.00      0      0    8.0500        S  NaN
221         0       2    male  27.00      0      0   13.0000        S  NaN
222         0       3    male  51.00      0      0    8.0500        S  NaN
223         0       3    male    NaN      0      0    7.8958        S  NaN
224         1       1    male  38.00      1      0   90.0000        S    C
225         0       3    male  22.00      0      0    9.3500        S  NaN
226         1       2    male  19.00      0      0   10.5000        S  NaN
227         0       3    male  20.50      0      0    7.2500        S  NaN
228         0       2    male  18.00      0      0   13.0000        S  NaN
229         0       3  female    NaN      3      1   25.4667        S  NaN
230         1       1  female  35.00      1      0   83.4750        S    C
231         0       3    male  29.00      0      0    7.7750        S  NaN
232         0       2    male  59.00      0      0   13.5000        S  NaN
233         1       3  female   5.00      4      2   31.3875        S  NaN
234         0       2    male  24.00      0      0   10.5000        S  NaN
235         0       3  female    NaN      0      0    7.5500        S  NaN
236         0       2    male  44.00      1      0   26.0000        S  NaN
237         1       2  female   8.00      0      2   26.2500        S  NaN
238         0       2    male  19.00      0      0   10.5000        S  NaN
239         0       2    male  33.00      0      0   12.2750        S  NaN
240         0       3  female    NaN      1      0   14.4542        C  NaN
241         1       3  female    NaN      1      0   15.5000        Q  NaN
242         0       2    male  29.00      0      0   10.5000        S  NaN
243         0       3    male  22.00      0      0    7.1250        S  NaN
244         0       3    male  30.00      0      0    7.2250        C  NaN
245         0       1    male  44.00      2      0   90.0000        Q    C
246         0       3  female  25.00      0      0    7.7750        S  NaN
247         1       2  female  24.00      0      2   14.5000        S  NaN
248         1       1    male  37.00      1      1   52.5542        S    D
249         0       2    male  54.00      1      0   26.0000        S  NaN
250         0       3    male    NaN      0      0    7.2500        S  NaN
251         0       3  female  29.00      1      1   10.4625        S    G
252         0       1    male  62.00      0      0   26.5500        S    C
253         0       3    male  30.00      1      0   16.1000        S  NaN
254         0       3  female  41.00      0      2   20.2125        S  NaN
255         1       3  female  29.00      0      2   15.2458        C  NaN
256         1       1  female    NaN      0      0   79.2000        C  NaN
257         1       1  female  30.00      0      0   86.5000        S    B
258         1       1  female  35.00      0      0  512.3292        C  NaN
259         1       2  female  50.00      0      1   26.0000        S  NaN
260         0       3    male    NaN      0      0    7.7500        Q  NaN
261         1       3    male   3.00      4      2   31.3875        S  NaN
262         0       1    male  52.00      1      1   79.6500        S    E
263         0       1    male  40.00      0      0    0.0000        S    B
264         0       3  female    NaN      0      0    7.7500        Q  NaN

In [18]:
pd.options.display.max_rows = 10

In [19]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
803         1       3    male  0.42      0      1   8.5167        C  NaN
755         1       2    male  0.67      1      1  14.5000        S  NaN
469         1       3  female  0.75      2      1  19.2583        C  NaN
644         1       3  female  0.75      2      1  19.2583        C  NaN
78          1       2    male  0.83      0      2  29.0000        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
697         1       3  female   NaN      0      0   7.7333        Q  NaN
727         1       3  female   NaN      0      0   7.7375        Q  NaN
792         0       3  female   NaN      8      2  69.5500        S  NaN
863         0       3  female   NaN      8      2  69.5500        S  NaN
888         0       3  female   NaN      1      2  23.4500        S  NaN

[891 rows x 9 columns]

## **Ranking DataFrames**

In [20]:
import pandas as pd

In [21]:
sales = pd.Series([15, 32, 45, 21, 55, 15, 0], index = ["Mon", "Tue", "Wen", "Thu", "Fri", "Sat", "Sun"])

In [22]:
sales

Mon    15
Tue    32
Wen    45
Thu    21
Fri    55
Sat    15
Sun     0
dtype: int64

In [23]:
sales.sort_values(ascending = False)

Fri    55
Wen    45
Tue    32
Thu    21
Mon    15
Sat    15
Sun     0
dtype: int64

In [24]:
sales.rank(method = 'max', ascending = False)

Mon    6.0
Tue    3.0
Wen    2.0
Thu    4.0
Fri    1.0
Sat    6.0
Sun    7.0
dtype: float64

In [25]:
sales.rank(method = 'first', ascending = False).sort_values()

Fri    1.0
Wen    2.0
Tue    3.0
Thu    4.0
Mon    5.0
Sat    6.0
Sun    7.0
dtype: float64

In [26]:
sales.rank(method = 'average', ascending = False).sort_values()

Fri    1.0
Wen    2.0
Tue    3.0
Thu    4.0
Mon    5.5
Sat    5.5
Sun    7.0
dtype: float64

In [27]:
titanic = pd.read_csv('titanic.csv')

In [28]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [29]:
titanic.fare.sort_values(ascending = False)

258    512.3292
737    512.3292
679    512.3292
88     263.0000
27     263.0000
         ...
633      0.0000
413      0.0000
822      0.0000
732      0.0000
674      0.0000
Name: fare, Length: 891, dtype: float64

In [30]:
titanic.fare.rank(ascending = False)

0      815.0
1      103.0
2      659.5
3      144.0
4      628.0
       ...
886    484.5
887    237.5
888    345.5
889    237.5
890    768.5
Name: fare, Length: 891, dtype: float64

In [31]:
titanic.fare.rank(ascending = True, method = 'first').sort_values(ascending = False)

737    891.0
679    890.0
258    889.0
438    888.0
341    887.0
       ...
302      5.0
277      4.0
271      3.0
263      2.0
179      1.0
Name: fare, Length: 891, dtype: float64

In [32]:
fare_rank = titanic.fare.rank(ascending = False, method = 'min')

In [33]:
titanic.insert(column = 'fare_rank', value = fare_rank, loc = 7)

In [34]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,fare_rank,embarked,deck
0,0,3,male,22.0,1,0,7.2500,809.0,S,NaN
1,1,1,female,38.0,1,0,71.2833,103.0,C,C
2,1,3,female,26.0,0,0,7.9250,651.0,S,NaN
3,1,1,female,35.0,1,0,53.1000,142.0,S,C
4,0,3,male,35.0,0,0,8.0500,607.0,S,NaN

In [35]:
titanic.sort_values(by = 'fare_rank')

,survived,pclass,sex,age,sibsp,parch,fare,fare_rank,embarked,deck
737,1,1,male,35.0,0,0,512.3292,1.0,C,B
258,1,1,female,35.0,0,0,512.3292,1.0,C,NaN
679,1,1,male,36.0,0,1,512.3292,1.0,C,B
88,1,1,female,23.0,3,2,263.0000,4.0,S,C
341,1,1,female,24.0,3,2,263.0000,4.0,S,C
...,...,...,...,...,...,...,...,...,...,...
597,0,3,male,49.0,0,0,0.0000,877.0,S,NaN
277,0,2,male,NaN,0,0,0.0000,877.0,S,NaN
271,1,3,male,25.0,0,0,0.0000,877.0,S,NaN
674,0,2,male,NaN,0,0,0.0000,877.0,S,NaN
732,0,2,male,NaN,0,0,0.0000,877.0,S,NaN

## **nunique() and nlargest() / nsmallest() with DataFrames**

In [36]:
import pandas as pd

In [37]:
titanic = pd.read_csv('titanic.csv')

In [38]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [39]:
titanic.tail()

     survived  pclass     sex   age  sibsp  parch   fare embarked deck
886         0       2    male  27.0      0      0  13.00        S  NaN
887         1       1  female  19.0      0      0  30.00        S    B
888         0       3  female   NaN      1      2  23.45        S  NaN
889         1       1    male  26.0      0      0  30.00        C    C
890         0       3    male  32.0      0      0   7.75        Q  NaN

#### **nunique()**

In [40]:
titanic.age.unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [41]:
titanic.nunique(axis = 0)

survived      2
pclass        3
sex           2
age          88
sibsp         7
parch         7
fare        248
embarked      3
deck          7
dtype: int64

#### **nlargest()**

In [42]:
titanic.nlargest(columns = 'age', n = 5)

     survived  pclass   sex   age  sibsp  parch     fare embarked deck
630         1       1  male  80.0      0      0  30.0000        S    A
851         0       3  male  74.0      0      0   7.7750        S  NaN
96          0       1  male  71.0      0      0  34.6542        C    A
493         0       1  male  71.0      0      0  49.5042        C  NaN
116         0       3  male  70.5      0      0   7.7500        Q  NaN

In [43]:
titanic.sort_values(by = 'age', ascending = False).head()

     survived  pclass   sex   age  sibsp  parch     fare embarked deck
630         1       1  male  80.0      0      0  30.0000        S    A
851         0       3  male  74.0      0      0   7.7750        S  NaN
493         0       1  male  71.0      0      0  49.5042        C  NaN
96          0       1  male  71.0      0      0  34.6542        C    A
116         0       3  male  70.5      0      0   7.7500        Q  NaN

#### **nsmallest()**

In [44]:
titanic.nsmallest(n = 5, columns = 'age')

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
803         1       3    male  0.42      0      1   8.5167        C  NaN
755         1       2    male  0.67      1      1  14.5000        S  NaN
469         1       3  female  0.75      2      1  19.2583        C  NaN
644         1       3  female  0.75      2      1  19.2583        C  NaN
78          1       2    male  0.83      0      2  29.0000        S  NaN

In [45]:
titanic.sort_values(by = 'age').head()

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
803         1       3    male  0.42      0      1   8.5167        C  NaN
755         1       2    male  0.67      1      1  14.5000        S  NaN
644         1       3  female  0.75      2      1  19.2583        C  NaN
469         1       3  female  0.75      2      1  19.2583        C  NaN
78          1       2    male  0.83      0      2  29.0000        S  NaN

In [46]:
titanic.loc[titanic.age.idxmin()]

survived         1
pclass           3
sex           male
age           0.42
sibsp            0
parch            1
fare        8.5167
embarked         C
deck           NaN
Name: 803, dtype: object

## **Summary statistics and accumulations**

In [47]:
import pandas as pd

In [48]:
titanic = pd.read_csv('titanic.csv')

In [49]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [50]:
titanic.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [51]:
titanic.count()

survived    891
pclass      891
sex         891
age         714
sibsp       891
parch       891
fare        891
embarked    889
deck        203
dtype: int64

In [52]:
titanic.max(numeric_only = True)

survived      1.0000
pclass        3.0000
age          80.0000
sibsp         8.0000
parch         6.0000
fare        512.3292
dtype: float64

In [53]:
titanic.min(numeric_only = True)

survived    0.00
pclass      1.00
age         0.42
sibsp       0.00
parch       0.00
fare        0.00
dtype: float64

In [54]:
titanic.mean(numeric_only = True)

survived     0.383838
pclass       2.308642
age         29.699118
sibsp        0.523008
parch        0.381594
fare        32.204208
dtype: float64

In [55]:
titanic.sum(numeric_only = True)

survived      342.0000
pclass       2057.0000
age         21205.1700
sibsp         466.0000
parch         340.0000
fare        28693.9493
dtype: float64

In [56]:
titanic.age.cumsum()

0         22.00
1         60.00
2         86.00
3        121.00
4        156.00
         ...
886    21128.17
887    21147.17
888         NaN
889    21173.17
890    21205.17
Name: age, Length: 891, dtype: float64

In [57]:
titanic.corr(numeric_only = True)

          survived    pclass       age     sibsp     parch      fare
survived  1.000000 -0.338481 -0.077221 -0.035322  0.081629  0.257307
pclass   -0.338481  1.000000 -0.369226  0.083081  0.018443 -0.549500
age      -0.077221 -0.369226  1.000000 -0.308247 -0.189119  0.096067
sibsp    -0.035322  0.083081 -0.308247  1.000000  0.414838  0.159651
parch     0.081629  0.018443 -0.189119  0.414838  1.000000  0.216225
fare      0.257307 -0.549500  0.096067  0.159651  0.216225  1.000000

In [58]:
titanic.survived.corr(titanic.fare)

0.2573065223849623

## **The agg() method**

In [59]:
import pandas as pd

In [60]:
titanic = pd.read_csv('titanic.csv')

In [61]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [62]:
titanic.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [63]:
titanic.agg('mean', numeric_only = True) # works but it is not recommended

survived     0.383838
pclass       2.308642
age         29.699118
sibsp        0.523008
parch        0.381594
fare        32.204208
dtype: float64

In [64]:
titanic.select_dtypes('number').agg('mean')

survived     0.383838
pclass       2.308642
age         29.699118
sibsp        0.523008
parch        0.381594
fare        32.204208
dtype: float64

In [65]:
titanic.select_dtypes('number').agg(['mean', 'sum', 'max'])

,survived,pclass,age,sibsp,parch,fare
mean,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
sum,342.000000,2057.000000,21205.170000,466.000000,340.000000,28693.949300
max,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [66]:
titanic.select_dtypes('number').agg({'age': ['min', 'max'], 'fare': ['mean', 'sum']})

        age          fare
min    0.42           NaN
max   80.00           NaN
mean    NaN     32.204208
sum     NaN  28693.949300

In [67]:
def dummy_func(n):
    return 2*n

In [68]:
titanic.select_dtypes('number').agg({'age': ['min', 'max'], 'fare': ['mean', 'sum'], 'fare': dummy_func})

C:\Users\Oggy\AppData\Local\Temp\ipykernel_4872\2743394614.py:1: FutureWarning: using <function dummy_func at 0x000002106322FF60> in Series.agg cannot aggregate and has been deprecated. Use Series.transform to keep behavior unchanged.
  titanic.select_dtypes('number').agg({'age': ['min', 'max'], 'fare': ['mean', 'sum'], 'fare': dummy_func})

       age       fare
       age dummy_func
min   0.42        NaN
max  80.00        NaN
0      NaN    14.5000
1      NaN   142.5666
2      NaN    15.8500
..     ...        ...
886    NaN    26.0000
887    NaN    60.0000
888    NaN    46.9000
889    NaN    60.0000
890    NaN    15.5000

[893 rows x 2 columns]

In [69]:
titanic.select_dtypes('number').transform(dummy_func)

     survived  pclass   age  sibsp  parch      fare
0           0       6  44.0      2      0   14.5000
1           2       2  76.0      2      0  142.5666
2           2       6  52.0      0      0   15.8500
3           2       2  70.0      2      0  106.2000
4           0       6  70.0      0      0   16.1000
..        ...     ...   ...    ...    ...       ...
886         0       4  54.0      0      0   26.0000
887         2       2  38.0      0      0   60.0000
888         0       6   NaN      2      4   46.9000
889         2       2  52.0      0      0   60.0000
890         0       6  64.0      0      0   15.5000

[891 rows x 6 columns]

## **User-defined functions with apply(), map() and applymap()**

In [70]:
import pandas as pd

In [71]:
sales = pd.read_csv('sales.csv', index_col = 0)

In [72]:
sales

        Mon  Tue  Wed   Thu  Fri
Steven   34   27   15   NaN   33
Mike     45    9   74  87.0   12
Andi     17   33   54   8.0   29
Paul     87   67   27  45.0    7

In [73]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Steven to Paul
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mon     4 non-null      int64
 1   Tue     4 non-null      int64
 2   Wed     4 non-null      int64
 3   Thu     3 non-null      float64
 4   Fri     4 non-null      int64
dtypes: float64(1), int64(4)
memory usage: 192.0+ bytes

In [74]:
sales.describe()

             Mon        Tue        Wed        Thu        Fri
count   4.000000   4.000000   4.000000   3.000000   4.000000
mean   45.750000  34.000000  42.500000  46.666667  20.250000
std    29.814706  24.248711  26.589472  39.526363  12.685293
min    17.000000   9.000000  15.000000   8.000000   7.000000
25%    29.750000  22.500000  24.000000  26.500000  10.750000
50%    39.500000  30.000000  40.500000  45.000000  20.500000
75%    55.500000  41.500000  59.000000  66.000000  30.000000
max    87.000000  67.000000  74.000000  87.000000  33.000000

In [75]:
sales.min(axis = 0)

Mon    17.0
Tue     9.0
Wed    15.0
Thu     8.0
Fri     7.0
dtype: float64

In [76]:
sales.min(axis = 1)

Steven    15.0
Mike       9.0
Andi       8.0
Paul       7.0
dtype: float64

In [77]:
def range(series):
    return series.max() - series.min()

In [78]:
sales.apply(func = range, axis = 0)

Mon    70.0
Tue    58.0
Wed    59.0
Thu    79.0
Fri    26.0
dtype: float64

In [79]:
sales.apply(func = range, axis = 1)

Steven    19.0
Mike      78.0
Andi      46.0
Paul      80.0
dtype: float64

In [80]:
sales.apply(func = lambda series: series.max() - series.min(), axis = 1)

Steven    19.0
Mike      78.0
Andi      46.0
Paul      80.0
dtype: float64

In [81]:
summer = pd.read_csv('summer.csv')

In [82]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [83]:
summer.Athlete.apply(lambda x: x[0])

0        H
1        H
2        D
3        M
4        C
        ..
31160    J
31161    R
31162    T
31163    A
31164    L
Name: Athlete, Length: 31165, dtype: object

In [84]:
sales.map(lambda x: 0 if pd.isna(x) else x * 5)

        Mon  Tue  Wed    Thu  Fri
Steven  170  135   75    0.0  165
Mike    225   45  370  435.0   60
Andi     85  165  270   40.0  145
Paul    435  335  135  225.0   35

In [85]:
sales.applymap(func = lambda x: x + 42)

C:\Users\Oggy\AppData\Local\Temp\ipykernel_4872\587876058.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  sales.applymap(func = lambda x: x + 42)

        Mon  Tue  Wed    Thu  Fri
Steven   76   69   57    NaN   75
Mike     87   51  116  129.0   54
Andi     59   75   96   50.0   71
Paul    129  109   69   87.0   49

In [86]:
sales.map(func = lambda x: x + 42)

        Mon  Tue  Wed    Thu  Fri
Steven   76   69   57    NaN   75
Mike     87   51  116  129.0   54
Andi     59   75   96   50.0   71
Paul    129  109   69   87.0   49

## **Hierarchical Indexing (MultiIndex)**

In [87]:
import pandas as pd

In [88]:
titanic = pd.read_csv('titanic.csv')

In [89]:
titanic_slice = titanic.iloc[:50, :].copy()

In [90]:
titanic_slice

    survived  pclass     sex   age  sibsp  parch     fare embarked deck
0          0       3    male  22.0      1      0   7.2500        S  NaN
1          1       1  female  38.0      1      0  71.2833        C    C
2          1       3  female  26.0      0      0   7.9250        S  NaN
3          1       1  female  35.0      1      0  53.1000        S    C
4          0       3    male  35.0      0      0   8.0500        S  NaN
..       ...     ...     ...   ...    ...    ...      ...      ...  ...
45         0       3    male   NaN      0      0   8.0500        S  NaN
46         0       3    male   NaN      1      0  15.5000        Q  NaN
47         1       3  female   NaN      0      0   7.7500        Q  NaN
48         0       3    male   NaN      2      0  21.6792        C  NaN
49         0       3  female  18.0      1      0  17.8000        S  NaN

[50 rows x 9 columns]

In [91]:
titanic_slice.set_index('pclass')

        survived     sex   age  sibsp  parch     fare embarked deck
pclass
3              0    male  22.0      1      0   7.2500        S  NaN
1              1  female  38.0      1      0  71.2833        C    C
3              1  female  26.0      0      0   7.9250        S  NaN
1              1  female  35.0      1      0  53.1000        S    C
3              0    male  35.0      0      0   8.0500        S  NaN
...          ...     ...   ...    ...    ...      ...      ...  ...
3              0    male   NaN      0      0   8.0500        S  NaN
3              0    male   NaN      1      0  15.5000        Q  NaN
3              1  female   NaN      0      0   7.7500        Q  NaN
3              0    male   NaN      2      0  21.6792        C  NaN
3              0  female  18.0      1      0  17.8000        S  NaN

[50 rows x 8 columns]

In [92]:
titanic_slice.set_index(keys = ['pclass', 'sex'], inplace = True)

In [93]:
titanic_slice.sort_index()

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B
       male           0  54.0      0      0   51.8625        S    E
...                 ...   ...    ...    ...       ...      ...  ...
3      male           0  21.0      0      0    8.0500        S  NaN
       male           0   NaN      0      0    7.8958        C  NaN
       male           0   NaN      0      0    8.0500        S  NaN
       male           0   NaN      1      0   15.5000        Q  NaN
       male           0   NaN      2      0   21.6792        C  NaN

[50 rows x 7 columns]

In [94]:
titanic_slice.sort_index(ascending = False)

               survived   age  sibsp  parch      fare embarked deck
pclass sex
3      male           0  22.0      1      0    7.2500        S  NaN
       male           0  35.0      0      0    8.0500        S  NaN
       male           0   NaN      0      0    8.4583        Q  NaN
       male           0   2.0      3      1   21.0750        S  NaN
       male           0  20.0      0      0    8.0500        S  NaN
...                 ...   ...    ...    ...       ...      ...  ...
1      male           0  42.0      1      0   52.0000        S  NaN
       female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B

[50 rows x 7 columns]

In [95]:
titanic_slice.sort_index(ascending = [True, False], inplace = True)

In [96]:
titanic_slice

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      male           0  54.0      0      0   51.8625        S    E
       male           1  28.0      0      0   35.5000        S    A
       male           0  19.0      3      2  263.0000        S    C
       male           0  40.0      0      0   27.7208        C  NaN
       male           0  28.0      1      0   82.1708        C  NaN
...                 ...   ...    ...    ...       ...      ...  ...
3      female         1  14.0      1      0   11.2417        C  NaN
       female         0  40.0      1      0    9.4750        S  NaN
       female         1  19.0      0      0    7.8792        Q  NaN
       female         1   NaN      0      0    7.7500        Q  NaN
       female         0  18.0      1      0   17.8000        S  NaN

[50 rows x 7 columns]

In [97]:
titanic_slice.swaplevel()

               survived   age  sibsp  parch      fare embarked deck
sex    pclass
male   1              0  54.0      0      0   51.8625        S    E
       1              1  28.0      0      0   35.5000        S    A
       1              0  19.0      3      2  263.0000        S    C
       1              0  40.0      0      0   27.7208        C  NaN
       1              0  28.0      1      0   82.1708        C  NaN
...                 ...   ...    ...    ...       ...      ...  ...
female 3              1  14.0      1      0   11.2417        C  NaN
       3              0  40.0      1      0    9.4750        S  NaN
       3              1  19.0      0      0    7.8792        Q  NaN
       3              1   NaN      0      0    7.7500        Q  NaN
       3              0  18.0      1      0   17.8000        S  NaN

[50 rows x 7 columns]

In [98]:
titanic_slice

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      male           0  54.0      0      0   51.8625        S    E
       male           1  28.0      0      0   35.5000        S    A
       male           0  19.0      3      2  263.0000        S    C
       male           0  40.0      0      0   27.7208        C  NaN
       male           0  28.0      1      0   82.1708        C  NaN
...                 ...   ...    ...    ...       ...      ...  ...
3      female         1  14.0      1      0   11.2417        C  NaN
       female         0  40.0      1      0    9.4750        S  NaN
       female         1  19.0      0      0    7.8792        Q  NaN
       female         1   NaN      0      0    7.7500        Q  NaN
       female         0  18.0      1      0   17.8000        S  NaN

[50 rows x 7 columns]

In [99]:
titanic_slice = titanic_slice.swaplevel()

In [100]:
titanic_slice

               survived   age  sibsp  parch      fare embarked deck
sex    pclass
male   1              0  54.0      0      0   51.8625        S    E
       1              1  28.0      0      0   35.5000        S    A
       1              0  19.0      3      2  263.0000        S    C
       1              0  40.0      0      0   27.7208        C  NaN
       1              0  28.0      1      0   82.1708        C  NaN
...                 ...   ...    ...    ...       ...      ...  ...
female 3              1  14.0      1      0   11.2417        C  NaN
       3              0  40.0      1      0    9.4750        S  NaN
       3              1  19.0      0      0    7.8792        Q  NaN
       3              1   NaN      0      0    7.7500        Q  NaN
       3              0  18.0      1      0   17.8000        S  NaN

[50 rows x 7 columns]

In [101]:
titanic_slice.reset_index(inplace = True)

In [102]:
titanic_slice

       sex  pclass  survived   age  sibsp  parch      fare embarked deck
0     male       1         0  54.0      0      0   51.8625        S    E
1     male       1         1  28.0      0      0   35.5000        S    A
2     male       1         0  19.0      3      2  263.0000        S    C
3     male       1         0  40.0      0      0   27.7208        C  NaN
4     male       1         0  28.0      1      0   82.1708        C  NaN
..     ...     ...       ...   ...    ...    ...       ...      ...  ...
45  female       3         1  14.0      1      0   11.2417        C  NaN
46  female       3         0  40.0      1      0    9.4750        S  NaN
47  female       3         1  19.0      0      0    7.8792        Q  NaN
48  female       3         1   NaN      0      0    7.7500        Q  NaN
49  female       3         0  18.0      1      0   17.8000        S  NaN

[50 rows x 9 columns]

In [103]:
titanic_slice = titanic_slice.set_index(['pclass', 'sex']).sort_index(ascending = True)

In [104]:
titanic_slice

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B
       male           0  54.0      0      0   51.8625        S    E
...                 ...   ...    ...    ...       ...      ...  ...
3      male           0  21.0      0      0    8.0500        S  NaN
       male           0   NaN      0      0    7.8958        C  NaN
       male           0   NaN      0      0    8.0500        S  NaN
       male           0   NaN      1      0   15.5000        Q  NaN
       male           0   NaN      2      0   21.6792        C  NaN

[50 rows x 7 columns]

In [105]:
titanic_slice.loc[1]

        survived   age  sibsp  parch      fare embarked deck
sex
female         1  38.0      1      0   71.2833        C    C
female         1  35.0      1      0   53.1000        S    C
female         1  58.0      0      0   26.5500        S    C
female         1   NaN      1      0  146.5208        C    B
male           0  54.0      0      0   51.8625        S    E
male           1  28.0      0      0   35.5000        S    A
male           0  19.0      3      2  263.0000        S    C
male           0  40.0      0      0   27.7208        C  NaN
male           0  28.0      1      0   82.1708        C  NaN
male           0  42.0      1      0   52.0000        S  NaN

In [106]:
titanic_slice.loc[[1, 2]]

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B
       male           0  54.0      0      0   51.8625        S    E
...                 ...   ...    ...    ...       ...      ...  ...
2      female         1   3.0      1      2   41.5792        C  NaN
       male           1   NaN      0      0   13.0000        S  NaN
       male           0  35.0      0      0   26.0000        S  NaN
       male           1  34.0      0      0   13.0000        S    D
       male           0  66.0      0      0   10.5000        S  NaN

[18 rows x 7 columns]

In [107]:
titanic_slice.loc[:2]

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B
       male           0  54.0      0      0   51.8625        S    E
...                 ...   ...    ...    ...       ...      ...  ...
2      female         1   3.0      1      2   41.5792        C  NaN
       male           1   NaN      0      0   13.0000        S  NaN
       male           0  35.0      0      0   26.0000        S  NaN
       male           1  34.0      0      0   13.0000        S    D
       male           0  66.0      0      0   10.5000        S  NaN

[18 rows x 7 columns]

In [108]:
titanic_slice.loc[1, 'female']

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B

In [109]:
titanic_slice.loc[(1, 'female'), 'age']

pclass  sex
1       female    38.0
        female    35.0
        female    58.0
        female     NaN
Name: age, dtype: float64

In [110]:
titanic_slice.loc[([1, 2], 'female'), ['age', 'fare']]

                age      fare
pclass sex
1      female  38.0   71.2833
       female  35.0   53.1000
       female  58.0   26.5500
       female   NaN  146.5208
2      female  14.0   30.0708
       female  55.0   16.0000
       female  27.0   21.0000
       female   3.0   41.5792

In [111]:
titanic_slice.loc[(slice(None), slice('female')), :]

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B
2      female         1  14.0      1      0   30.0708        C  NaN
...                 ...   ...    ...    ...       ...      ...  ...
3      female         1  14.0      1      0   11.2417        C  NaN
       female         0  40.0      1      0    9.4750        S  NaN
       female         1  19.0      0      0    7.8792        Q  NaN
       female         1   NaN      0      0    7.7500        Q  NaN
       female         0  18.0      1      0   17.8000        S  NaN

[25 rows x 7 columns]

## **String operations**

In [112]:
'Hello world'

'Hello world'

In [113]:
type('Hello world')

str

In [114]:
hello = 'Hello world'

In [115]:
hello

'Hello world'

In [116]:
hello.title()

'Hello World'

In [117]:
hello.lower()

'hello world'

In [118]:
hello.split(' ')

['Hello', 'world']

In [119]:
[*hello]

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [120]:
hello.replace('Hello', 'hi')

'hi world'

In [121]:
len(hello)

11

In [122]:
import pandas as pd

In [123]:
summer = pd.read_csv('summer.csv')

In [124]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [125]:
names = summer.loc[:9, 'Athlete'].copy()

In [126]:
names

0            HAJOS, Alfred
1         HERSCHMANN, Otto
2        DRIVAS, Dimitrios
3       MALOKINIS, Ioannis
4       CHASAPIS, Spiridon
5    CHOROPHAS, Efstathios
6            HAJOS, Alfred
7         ANDREOU, Joannis
8    CHOROPHAS, Efstathios
9            NEUMANN, Paul
Name: Athlete, dtype: object

In [127]:
names.dtypes

dtype('O')

In [128]:
names.str.lower()

0            hajos, alfred
1         herschmann, otto
2        drivas, dimitrios
3       malokinis, ioannis
4       chasapis, spiridon
5    chorophas, efstathios
6            hajos, alfred
7         andreou, joannis
8    chorophas, efstathios
9            neumann, paul
Name: Athlete, dtype: object

In [129]:
names.str.title()

0            Hajos, Alfred
1         Herschmann, Otto
2        Drivas, Dimitrios
3       Malokinis, Ioannis
4       Chasapis, Spiridon
5    Chorophas, Efstathios
6            Hajos, Alfred
7         Andreou, Joannis
8    Chorophas, Efstathios
9            Neumann, Paul
Name: Athlete, dtype: object

In [130]:
names

0            HAJOS, Alfred
1         HERSCHMANN, Otto
2        DRIVAS, Dimitrios
3       MALOKINIS, Ioannis
4       CHASAPIS, Spiridon
5    CHOROPHAS, Efstathios
6            HAJOS, Alfred
7         ANDREOU, Joannis
8    CHOROPHAS, Efstathios
9            NEUMANN, Paul
Name: Athlete, dtype: object

In [131]:
names.apply(str.title)

0            Hajos, Alfred
1         Herschmann, Otto
2        Drivas, Dimitrios
3       Malokinis, Ioannis
4       Chasapis, Spiridon
5    Chorophas, Efstathios
6            Hajos, Alfred
7         Andreou, Joannis
8    Chorophas, Efstathios
9            Neumann, Paul
Name: Athlete, dtype: object

In [132]:
events = summer.loc[:9, 'Event'].copy()

In [133]:
events

0                100M Freestyle
1                100M Freestyle
2    100M Freestyle For Sailors
3    100M Freestyle For Sailors
4    100M Freestyle For Sailors
5               1200M Freestyle
6               1200M Freestyle
7               1200M Freestyle
8                400M Freestyle
9                400M Freestyle
Name: Event, dtype: object

In [134]:
events.str.split(' ')

0                  [100M, Freestyle]
1                  [100M, Freestyle]
2    [100M, Freestyle, For, Sailors]
3    [100M, Freestyle, For, Sailors]
4    [100M, Freestyle, For, Sailors]
5                 [1200M, Freestyle]
6                 [1200M, Freestyle]
7                 [1200M, Freestyle]
8                  [400M, Freestyle]
9                  [400M, Freestyle]
Name: Event, dtype: object

In [135]:
events.str.split(' ', n = 1)

0                [100M, Freestyle]
1                [100M, Freestyle]
2    [100M, Freestyle For Sailors]
3    [100M, Freestyle For Sailors]
4    [100M, Freestyle For Sailors]
5               [1200M, Freestyle]
6               [1200M, Freestyle]
7               [1200M, Freestyle]
8                [400M, Freestyle]
9                [400M, Freestyle]
Name: Event, dtype: object

In [136]:
events_df = events.str.split(' ', n = 1, expand = True)

In [137]:
events_df.rename(columns = {
    0: 'distance',
    1: 'discipline'
})

  distance             discipline
0     100M              Freestyle
1     100M              Freestyle
2     100M  Freestyle For Sailors
3     100M  Freestyle For Sailors
4     100M  Freestyle For Sailors
5    1200M              Freestyle
6    1200M              Freestyle
7    1200M              Freestyle
8     400M              Freestyle
9     400M              Freestyle

In [138]:
events.str.contains('100M')

0     True
1     True
2     True
3     True
4     True
5    False
6    False
7    False
8    False
9    False
Name: Event, dtype: bool

In [139]:
events.loc[events.str.contains('100M')]

0                100M Freestyle
1                100M Freestyle
2    100M Freestyle For Sailors
3    100M Freestyle For Sailors
4    100M Freestyle For Sailors
Name: Event, dtype: object