# **DataFrame Basics III**

## **Sorting dataframes**

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv('titanic.csv')

In [ ]:
titanic.head()

In [ ]:
titanic.age.sort_values()

In [ ]:
titanic.sort_values(by = 'age')

In [ ]:
titanic

In [ ]:
titanic.sort_values(by = 'age', inplace = True)

In [ ]:
titanic.head()

In [ ]:
titanic.sort_index(inplace = True)

In [ ]:
titanic.head()

In [ ]:
titanic.sort_values(by = ['age', 'pclass'], inplace = True)

In [ ]:
titanic.head(20)

In [ ]:
titanic.sort_index(inplace = True)

In [ ]:
titanic.sort_values(by = ['age', 'pclass', 'sex'], ascending = [True, True, False], inplace = True)

In [ ]:
pd.options.display.max_rows = 900

In [ ]:
titanic

In [ ]:
titanic.sort_index()

In [ ]:
pd.options.display.max_rows = 10

In [ ]:
titanic

## **Ranking DataFrames**

In [ ]:
import pandas as pd

In [ ]:
sales = pd.Series([15, 32, 45, 21, 55, 15, 0], index = ["Mon", "Tue", "Wen", "Thu", "Fri", "Sat", "Sun"])

In [ ]:
sales

In [ ]:
sales.sort_values(ascending = False)

In [ ]:
sales.rank(method = 'max', ascending = False)

In [ ]:
sales.rank(method = 'first', ascending = False).sort_values()

In [ ]:
sales.rank(method = 'average', ascending = False).sort_values()

In [ ]:
titanic = pd.read_csv('titanic.csv')

In [ ]:
titanic.head()

In [ ]:
titanic.fare.sort_values(ascending = False)

In [ ]:
titanic.fare.rank(ascending = False)

In [ ]:
titanic.fare.rank(ascending = True, method = 'first').sort_values(ascending = False)

In [ ]:
fare_rank = titanic.fare.rank(ascending = False, method = 'min')

In [ ]:
titanic.insert(column = 'fare_rank', value = fare_rank, loc = 7)

In [ ]:
titanic.head()

In [ ]:
titanic.sort_values(by = 'fare_rank')

## **nunique() and nlargest() / nsmallest() with DataFrames**

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv('titanic.csv')

In [ ]:
titanic.head()

In [ ]:
titanic.tail()

#### **nunique()**

In [ ]:
titanic.age.unique()

In [ ]:
titanic.nunique(axis = 0)

#### **nlargest()**

In [ ]:
titanic.nlargest(columns = 'age', n = 5)

In [ ]:
titanic.sort_values(by = 'age', ascending = False).head()

#### **nsmallest()**

In [ ]:
titanic.nsmallest(n = 5, columns = 'age')

In [ ]:
titanic.sort_values(by = 'age').head()

In [ ]:
titanic.loc[titanic.age.idxmin()]

## **Summary statistics and accumulations**

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv('titanic.csv')

In [ ]:
titanic.head()

In [ ]:
titanic.describe()

In [ ]:
titanic.count()

In [ ]:
titanic.max(numeric_only = True)

In [ ]:
titanic.min(numeric_only = True)

In [ ]:
titanic.mean(numeric_only = True)

In [ ]:
titanic.sum(numeric_only = True)

In [ ]:
titanic.age.cumsum()

In [ ]:
titanic.corr(numeric_only = True)

In [ ]:
titanic.survived.corr(titanic.fare)

## **The agg() method**

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv('titanic.csv')

In [ ]:
titanic.head()

In [ ]:
titanic.describe()

In [ ]:
titanic.agg('mean', numeric_only = True) # works but it is not recommended

In [ ]:
titanic.select_dtypes('number').agg('mean')

In [ ]:
titanic.select_dtypes('number').agg(['mean', 'sum', 'max'])

In [ ]:
titanic.select_dtypes('number').agg({'age': ['min', 'max'], 'fare': ['mean', 'sum']})

In [ ]:
def dummy_func(n):
    return 2*n

In [ ]:
titanic.select_dtypes('number').agg({'age': ['min', 'max'], 'fare': ['mean', 'sum'], 'fare': dummy_func})

In [ ]:
titanic.select_dtypes('number').transform(dummy_func)

## **User-defined functions with apply(), map() and applymap()**

In [ ]:
import pandas as pd

In [ ]:
sales = pd.read_csv('sales.csv', index_col = 0)

In [ ]:
sales

In [ ]:
sales.info()

In [ ]:
sales.describe()

In [ ]:
sales.min(axis = 0)

In [ ]:
sales.min(axis = 1)

In [ ]:
def range(series):
    return series.max() - series.min()

In [ ]:
sales.apply(func = range, axis = 0)

In [ ]:
sales.apply(func = range, axis = 1)

In [ ]:
sales.apply(func = lambda series: series.max() - series.min(), axis = 1)

In [ ]:
summer = pd.read_csv('summer.csv')

In [ ]:
summer.head()

In [ ]:
summer.Athlete.apply(lambda x: x[0])

In [ ]:
sales.map(lambda x: 0 if pd.isna(x) else x * 5)

In [ ]:
sales.applymap(func = lambda x: x + 42)

In [ ]:
sales.map(func = lambda x: x + 42)

## **Hierarchical Indexing (MultiIndex)**

In [8]:
import pandas as pd

In [9]:
titanic = pd.read_csv('titanic.csv')

In [10]:
titanic_slice = titanic.iloc[:50, :].copy()

In [11]:
titanic_slice

    survived  pclass     sex   age  sibsp  parch      fare embarked deck
0          0       3    male  22.0      1      0    7.2500        S  NaN
1          1       1  female  38.0      1      0   71.2833        C    C
2          1       3  female  26.0      0      0    7.9250        S  NaN
3          1       1  female  35.0      1      0   53.1000        S    C
4          0       3    male  35.0      0      0    8.0500        S  NaN
5          0       3    male   NaN      0      0    8.4583        Q  NaN
6          0       1    male  54.0      0      0   51.8625        S    E
7          0       3    male   2.0      3      1   21.0750        S  NaN
8          1       3  female  27.0      0      2   11.1333        S  NaN
9          1       2  female  14.0      1      0   30.0708        C  NaN
10         1       3  female   4.0      1      1   16.7000        S    G
11         1       1  female  58.0      0      0   26.5500        S    C
12         0       3    male  20.0      0      0    8.0500        S  NaN
13         0       3    male  39.0      1      5   31.2750        S  NaN
14         0       3  female  14.0      0      0    7.8542        S  NaN
15         1       2  female  55.0      0      0   16.0000        S  NaN
16         0       3    male   2.0      4      1   29.1250        Q  NaN
17         1       2    male   NaN      0      0   13.0000        S  NaN
18         0       3  female  31.0      1      0   18.0000        S  NaN
19         1       3  female   NaN      0      0    7.2250        C  NaN
20         0       2    male  35.0      0      0   26.0000        S  NaN
21         1       2    male  34.0      0      0   13.0000        S    D
22         1       3  female  15.0      0      0    8.0292        Q  NaN
23         1       1    male  28.0      0      0   35.5000        S    A
24         0       3  female   8.0      3      1   21.0750        S  NaN
25         1       3  female  38.0      1      5   31.3875        S  NaN
26         0       3    male   NaN      0      0    7.2250        C  NaN
27         0       1    male  19.0      3      2  263.0000        S    C
28         1       3  female   NaN      0      0    7.8792        Q  NaN
29         0       3    male   NaN      0      0    7.8958        S  NaN
30         0       1    male  40.0      0      0   27.7208        C  NaN
31         1       1  female   NaN      1      0  146.5208        C    B
32         1       3  female   NaN      0      0    7.7500        Q  NaN
33         0       2    male  66.0      0      0   10.5000        S  NaN
34         0       1    male  28.0      1      0   82.1708        C  NaN
35         0       1    male  42.0      1      0   52.0000        S  NaN
36         1       3    male   NaN      0      0    7.2292        C  NaN
37         0       3    male  21.0      0      0    8.0500        S  NaN
38         0       3  female  18.0      2      0   18.0000        S  NaN
39         1       3  female  14.0      1      0   11.2417        C  NaN
40         0       3  female  40.0      1      0    9.4750        S  NaN
41         0       2  female  27.0      1      0   21.0000        S  NaN
42         0       3    male   NaN      0      0    7.8958        C  NaN
43         1       2  female   3.0      1      2   41.5792        C  NaN
44         1       3  female  19.0      0      0    7.8792        Q  NaN
45         0       3    male   NaN      0      0    8.0500        S  NaN
46         0       3    male   NaN      1      0   15.5000        Q  NaN
47         1       3  female   NaN      0      0    7.7500        Q  NaN
48         0       3    male   NaN      2      0   21.6792        C  NaN
49         0       3  female  18.0      1      0   17.8000        S  NaN

In [12]:
titanic_slice.set_index('pclass')

        survived     sex   age  sibsp  parch      fare embarked deck
pclass
3              0    male  22.0      1      0    7.2500        S  NaN
1              1  female  38.0      1      0   71.2833        C    C
3              1  female  26.0      0      0    7.9250        S  NaN
1              1  female  35.0      1      0   53.1000        S    C
3              0    male  35.0      0      0    8.0500        S  NaN
3              0    male   NaN      0      0    8.4583        Q  NaN
1              0    male  54.0      0      0   51.8625        S    E
3              0    male   2.0      3      1   21.0750        S  NaN
3              1  female  27.0      0      2   11.1333        S  NaN
2              1  female  14.0      1      0   30.0708        C  NaN
3              1  female   4.0      1      1   16.7000        S    G
1              1  female  58.0      0      0   26.5500        S    C
3              0    male  20.0      0      0    8.0500        S  NaN
3              0    male  39.0      1      5   31.2750        S  NaN
3              0  female  14.0      0      0    7.8542        S  NaN
2              1  female  55.0      0      0   16.0000        S  NaN
3              0    male   2.0      4      1   29.1250        Q  NaN
2              1    male   NaN      0      0   13.0000        S  NaN
3              0  female  31.0      1      0   18.0000        S  NaN
3              1  female   NaN      0      0    7.2250        C  NaN
2              0    male  35.0      0      0   26.0000        S  NaN
2              1    male  34.0      0      0   13.0000        S    D
3              1  female  15.0      0      0    8.0292        Q  NaN
1              1    male  28.0      0      0   35.5000        S    A
3              0  female   8.0      3      1   21.0750        S  NaN
3              1  female  38.0      1      5   31.3875        S  NaN
3              0    male   NaN      0      0    7.2250        C  NaN
1              0    male  19.0      3      2  263.0000        S    C
3              1  female   NaN      0      0    7.8792        Q  NaN
3              0    male   NaN      0      0    7.8958        S  NaN
1              0    male  40.0      0      0   27.7208        C  NaN
1              1  female   NaN      1      0  146.5208        C    B
3              1  female   NaN      0      0    7.7500        Q  NaN
2              0    male  66.0      0      0   10.5000        S  NaN
1              0    male  28.0      1      0   82.1708        C  NaN
1              0    male  42.0      1      0   52.0000        S  NaN
3              1    male   NaN      0      0    7.2292        C  NaN
3              0    male  21.0      0      0    8.0500        S  NaN
3              0  female  18.0      2      0   18.0000        S  NaN
3              1  female  14.0      1      0   11.2417        C  NaN
3              0  female  40.0      1      0    9.4750        S  NaN
2              0  female  27.0      1      0   21.0000        S  NaN
3              0    male   NaN      0      0    7.8958        C  NaN
2              1  female   3.0      1      2   41.5792        C  NaN
3              1  female  19.0      0      0    7.8792        Q  NaN
3              0    male   NaN      0      0    8.0500        S  NaN
3              0    male   NaN      1      0   15.5000        Q  NaN
3              1  female   NaN      0      0    7.7500        Q  NaN
3              0    male   NaN      2      0   21.6792        C  NaN
3              0  female  18.0      1      0   17.8000        S  NaN

In [13]:
titanic_slice.set_index(keys = ['pclass', 'sex'], inplace = True)

In [14]:
titanic_slice.sort_index()

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B
       male           0  54.0      0      0   51.8625        S    E
       male           1  28.0      0      0   35.5000        S    A
       male           0  19.0      3      2  263.0000        S    C
       male           0  40.0      0      0   27.7208        C  NaN
       male           0  28.0      1      0   82.1708        C  NaN
       male           0  42.0      1      0   52.0000        S  NaN
2      female         1  14.0      1      0   30.0708        C  NaN
       female         1  55.0      0      0   16.0000        S  NaN
       female         0  27.0      1      0   21.0000        S  NaN
       female         1   3.0      1      2   41.5792        C  NaN
       male           1   NaN      0      0   13.0000        S  NaN
       male           0  35.0      0      0   26.0000        S  NaN
       male           1  34.0      0      0   13.0000        S    D
       male           0  66.0      0      0   10.5000        S  NaN
3      female         1  26.0      0      0    7.9250        S  NaN
       female         1  27.0      0      2   11.1333        S  NaN
       female         1   4.0      1      1   16.7000        S    G
       female         0  14.0      0      0    7.8542        S  NaN
       female         0  31.0      1      0   18.0000        S  NaN
       female         1   NaN      0      0    7.2250        C  NaN
       female         1  15.0      0      0    8.0292        Q  NaN
       female         0   8.0      3      1   21.0750        S  NaN
       female         1  38.0      1      5   31.3875        S  NaN
       female         1   NaN      0      0    7.8792        Q  NaN
       female         1   NaN      0      0    7.7500        Q  NaN
       female         0  18.0      2      0   18.0000        S  NaN
       female         1  14.0      1      0   11.2417        C  NaN
       female         0  40.0      1      0    9.4750        S  NaN
       female         1  19.0      0      0    7.8792        Q  NaN
       female         1   NaN      0      0    7.7500        Q  NaN
       female         0  18.0      1      0   17.8000        S  NaN
       male           0  22.0      1      0    7.2500        S  NaN
       male           0  35.0      0      0    8.0500        S  NaN
       male           0   NaN      0      0    8.4583        Q  NaN
       male           0   2.0      3      1   21.0750        S  NaN
       male           0  20.0      0      0    8.0500        S  NaN
       male           0  39.0      1      5   31.2750        S  NaN
       male           0   2.0      4      1   29.1250        Q  NaN
       male           0   NaN      0      0    7.2250        C  NaN
       male           0   NaN      0      0    7.8958        S  NaN
       male           1   NaN      0      0    7.2292        C  NaN
       male           0  21.0      0      0    8.0500        S  NaN
       male           0   NaN      0      0    7.8958        C  NaN
       male           0   NaN      0      0    8.0500        S  NaN
       male           0   NaN      1      0   15.5000        Q  NaN
       male           0   NaN      2      0   21.6792        C  NaN

In [15]:
titanic_slice.sort_index(ascending = False)

               survived   age  sibsp  parch      fare embarked deck
pclass sex
3      male           0  22.0      1      0    7.2500        S  NaN
       male           0  35.0      0      0    8.0500        S  NaN
       male           0   NaN      0      0    8.4583        Q  NaN
       male           0   2.0      3      1   21.0750        S  NaN
       male           0  20.0      0      0    8.0500        S  NaN
       male           0  39.0      1      5   31.2750        S  NaN
       male           0   2.0      4      1   29.1250        Q  NaN
       male           0   NaN      0      0    7.2250        C  NaN
       male           0   NaN      0      0    7.8958        S  NaN
       male           1   NaN      0      0    7.2292        C  NaN
       male           0  21.0      0      0    8.0500        S  NaN
       male           0   NaN      0      0    7.8958        C  NaN
       male           0   NaN      0      0    8.0500        S  NaN
       male           0   NaN      1      0   15.5000        Q  NaN
       male           0   NaN      2      0   21.6792        C  NaN
       female         1  26.0      0      0    7.9250        S  NaN
       female         1  27.0      0      2   11.1333        S  NaN
       female         1   4.0      1      1   16.7000        S    G
       female         0  14.0      0      0    7.8542        S  NaN
       female         0  31.0      1      0   18.0000        S  NaN
       female         1   NaN      0      0    7.2250        C  NaN
       female         1  15.0      0      0    8.0292        Q  NaN
       female         0   8.0      3      1   21.0750        S  NaN
       female         1  38.0      1      5   31.3875        S  NaN
       female         1   NaN      0      0    7.8792        Q  NaN
       female         1   NaN      0      0    7.7500        Q  NaN
       female         0  18.0      2      0   18.0000        S  NaN
       female         1  14.0      1      0   11.2417        C  NaN
       female         0  40.0      1      0    9.4750        S  NaN
       female         1  19.0      0      0    7.8792        Q  NaN
       female         1   NaN      0      0    7.7500        Q  NaN
       female         0  18.0      1      0   17.8000        S  NaN
2      male           1   NaN      0      0   13.0000        S  NaN
       male           0  35.0      0      0   26.0000        S  NaN
       male           1  34.0      0      0   13.0000        S    D
       male           0  66.0      0      0   10.5000        S  NaN
       female         1  14.0      1      0   30.0708        C  NaN
       female         1  55.0      0      0   16.0000        S  NaN
       female         0  27.0      1      0   21.0000        S  NaN
       female         1   3.0      1      2   41.5792        C  NaN
1      male           0  54.0      0      0   51.8625        S    E
       male           1  28.0      0      0   35.5000        S    A
       male           0  19.0      3      2  263.0000        S    C
       male           0  40.0      0      0   27.7208        C  NaN
       male           0  28.0      1      0   82.1708        C  NaN
       male           0  42.0      1      0   52.0000        S  NaN
       female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B

In [16]:
titanic_slice.sort_index(ascending = [True, False], inplace = True)

In [17]:
titanic_slice

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      male           0  54.0      0      0   51.8625        S    E
       male           1  28.0      0      0   35.5000        S    A
       male           0  19.0      3      2  263.0000        S    C
       male           0  40.0      0      0   27.7208        C  NaN
       male           0  28.0      1      0   82.1708        C  NaN
       male           0  42.0      1      0   52.0000        S  NaN
       female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B
2      male           1   NaN      0      0   13.0000        S  NaN
       male           0  35.0      0      0   26.0000        S  NaN
       male           1  34.0      0      0   13.0000        S    D
       male           0  66.0      0      0   10.5000        S  NaN
       female         1  14.0      1      0   30.0708        C  NaN
       female         1  55.0      0      0   16.0000        S  NaN
       female         0  27.0      1      0   21.0000        S  NaN
       female         1   3.0      1      2   41.5792        C  NaN
3      male           0  22.0      1      0    7.2500        S  NaN
       male           0  35.0      0      0    8.0500        S  NaN
       male           0   NaN      0      0    8.4583        Q  NaN
       male           0   2.0      3      1   21.0750        S  NaN
       male           0  20.0      0      0    8.0500        S  NaN
       male           0  39.0      1      5   31.2750        S  NaN
       male           0   2.0      4      1   29.1250        Q  NaN
       male           0   NaN      0      0    7.2250        C  NaN
       male           0   NaN      0      0    7.8958        S  NaN
       male           1   NaN      0      0    7.2292        C  NaN
       male           0  21.0      0      0    8.0500        S  NaN
       male           0   NaN      0      0    7.8958        C  NaN
       male           0   NaN      0      0    8.0500        S  NaN
       male           0   NaN      1      0   15.5000        Q  NaN
       male           0   NaN      2      0   21.6792        C  NaN
       female         1  26.0      0      0    7.9250        S  NaN
       female         1  27.0      0      2   11.1333        S  NaN
       female         1   4.0      1      1   16.7000        S    G
       female         0  14.0      0      0    7.8542        S  NaN
       female         0  31.0      1      0   18.0000        S  NaN
       female         1   NaN      0      0    7.2250        C  NaN
       female         1  15.0      0      0    8.0292        Q  NaN
       female         0   8.0      3      1   21.0750        S  NaN
       female         1  38.0      1      5   31.3875        S  NaN
       female         1   NaN      0      0    7.8792        Q  NaN
       female         1   NaN      0      0    7.7500        Q  NaN
       female         0  18.0      2      0   18.0000        S  NaN
       female         1  14.0      1      0   11.2417        C  NaN
       female         0  40.0      1      0    9.4750        S  NaN
       female         1  19.0      0      0    7.8792        Q  NaN
       female         1   NaN      0      0    7.7500        Q  NaN
       female         0  18.0      1      0   17.8000        S  NaN

In [18]:
titanic_slice.swaplevel()

               survived   age  sibsp  parch      fare embarked deck
sex    pclass
male   1              0  54.0      0      0   51.8625        S    E
       1              1  28.0      0      0   35.5000        S    A
       1              0  19.0      3      2  263.0000        S    C
       1              0  40.0      0      0   27.7208        C  NaN
       1              0  28.0      1      0   82.1708        C  NaN
       1              0  42.0      1      0   52.0000        S  NaN
female 1              1  38.0      1      0   71.2833        C    C
       1              1  35.0      1      0   53.1000        S    C
       1              1  58.0      0      0   26.5500        S    C
       1              1   NaN      1      0  146.5208        C    B
male   2              1   NaN      0      0   13.0000        S  NaN
       2              0  35.0      0      0   26.0000        S  NaN
       2              1  34.0      0      0   13.0000        S    D
       2              0  66.0      0      0   10.5000        S  NaN
female 2              1  14.0      1      0   30.0708        C  NaN
       2              1  55.0      0      0   16.0000        S  NaN
       2              0  27.0      1      0   21.0000        S  NaN
       2              1   3.0      1      2   41.5792        C  NaN
male   3              0  22.0      1      0    7.2500        S  NaN
       3              0  35.0      0      0    8.0500        S  NaN
       3              0   NaN      0      0    8.4583        Q  NaN
       3              0   2.0      3      1   21.0750        S  NaN
       3              0  20.0      0      0    8.0500        S  NaN
       3              0  39.0      1      5   31.2750        S  NaN
       3              0   2.0      4      1   29.1250        Q  NaN
       3              0   NaN      0      0    7.2250        C  NaN
       3              0   NaN      0      0    7.8958        S  NaN
       3              1   NaN      0      0    7.2292        C  NaN
       3              0  21.0      0      0    8.0500        S  NaN
       3              0   NaN      0      0    7.8958        C  NaN
       3              0   NaN      0      0    8.0500        S  NaN
       3              0   NaN      1      0   15.5000        Q  NaN
       3              0   NaN      2      0   21.6792        C  NaN
female 3              1  26.0      0      0    7.9250        S  NaN
       3              1  27.0      0      2   11.1333        S  NaN
       3              1   4.0      1      1   16.7000        S    G
       3              0  14.0      0      0    7.8542        S  NaN
       3              0  31.0      1      0   18.0000        S  NaN
       3              1   NaN      0      0    7.2250        C  NaN
       3              1  15.0      0      0    8.0292        Q  NaN
       3              0   8.0      3      1   21.0750        S  NaN
       3              1  38.0      1      5   31.3875        S  NaN
       3              1   NaN      0      0    7.8792        Q  NaN
       3              1   NaN      0      0    7.7500        Q  NaN
       3              0  18.0      2      0   18.0000        S  NaN
       3              1  14.0      1      0   11.2417        C  NaN
       3              0  40.0      1      0    9.4750        S  NaN
       3              1  19.0      0      0    7.8792        Q  NaN
       3              1   NaN      0      0    7.7500        Q  NaN
       3              0  18.0      1      0   17.8000        S  NaN

In [19]:
titanic_slice

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      male           0  54.0      0      0   51.8625        S    E
       male           1  28.0      0      0   35.5000        S    A
       male           0  19.0      3      2  263.0000        S    C
       male           0  40.0      0      0   27.7208        C  NaN
       male           0  28.0      1      0   82.1708        C  NaN
       male           0  42.0      1      0   52.0000        S  NaN
       female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B
2      male           1   NaN      0      0   13.0000        S  NaN
       male           0  35.0      0      0   26.0000        S  NaN
       male           1  34.0      0      0   13.0000        S    D
       male           0  66.0      0      0   10.5000        S  NaN
       female         1  14.0      1      0   30.0708        C  NaN
       female         1  55.0      0      0   16.0000        S  NaN
       female         0  27.0      1      0   21.0000        S  NaN
       female         1   3.0      1      2   41.5792        C  NaN
3      male           0  22.0      1      0    7.2500        S  NaN
       male           0  35.0      0      0    8.0500        S  NaN
       male           0   NaN      0      0    8.4583        Q  NaN
       male           0   2.0      3      1   21.0750        S  NaN
       male           0  20.0      0      0    8.0500        S  NaN
       male           0  39.0      1      5   31.2750        S  NaN
       male           0   2.0      4      1   29.1250        Q  NaN
       male           0   NaN      0      0    7.2250        C  NaN
       male           0   NaN      0      0    7.8958        S  NaN
       male           1   NaN      0      0    7.2292        C  NaN
       male           0  21.0      0      0    8.0500        S  NaN
       male           0   NaN      0      0    7.8958        C  NaN
       male           0   NaN      0      0    8.0500        S  NaN
       male           0   NaN      1      0   15.5000        Q  NaN
       male           0   NaN      2      0   21.6792        C  NaN
       female         1  26.0      0      0    7.9250        S  NaN
       female         1  27.0      0      2   11.1333        S  NaN
       female         1   4.0      1      1   16.7000        S    G
       female         0  14.0      0      0    7.8542        S  NaN
       female         0  31.0      1      0   18.0000        S  NaN
       female         1   NaN      0      0    7.2250        C  NaN
       female         1  15.0      0      0    8.0292        Q  NaN
       female         0   8.0      3      1   21.0750        S  NaN
       female         1  38.0      1      5   31.3875        S  NaN
       female         1   NaN      0      0    7.8792        Q  NaN
       female         1   NaN      0      0    7.7500        Q  NaN
       female         0  18.0      2      0   18.0000        S  NaN
       female         1  14.0      1      0   11.2417        C  NaN
       female         0  40.0      1      0    9.4750        S  NaN
       female         1  19.0      0      0    7.8792        Q  NaN
       female         1   NaN      0      0    7.7500        Q  NaN
       female         0  18.0      1      0   17.8000        S  NaN

In [20]:
titanic_slice = titanic_slice.swaplevel()

In [21]:
titanic_slice

               survived   age  sibsp  parch      fare embarked deck
sex    pclass
male   1              0  54.0      0      0   51.8625        S    E
       1              1  28.0      0      0   35.5000        S    A
       1              0  19.0      3      2  263.0000        S    C
       1              0  40.0      0      0   27.7208        C  NaN
       1              0  28.0      1      0   82.1708        C  NaN
       1              0  42.0      1      0   52.0000        S  NaN
female 1              1  38.0      1      0   71.2833        C    C
       1              1  35.0      1      0   53.1000        S    C
       1              1  58.0      0      0   26.5500        S    C
       1              1   NaN      1      0  146.5208        C    B
male   2              1   NaN      0      0   13.0000        S  NaN
       2              0  35.0      0      0   26.0000        S  NaN
       2              1  34.0      0      0   13.0000        S    D
       2              0  66.0      0      0   10.5000        S  NaN
female 2              1  14.0      1      0   30.0708        C  NaN
       2              1  55.0      0      0   16.0000        S  NaN
       2              0  27.0      1      0   21.0000        S  NaN
       2              1   3.0      1      2   41.5792        C  NaN
male   3              0  22.0      1      0    7.2500        S  NaN
       3              0  35.0      0      0    8.0500        S  NaN
       3              0   NaN      0      0    8.4583        Q  NaN
       3              0   2.0      3      1   21.0750        S  NaN
       3              0  20.0      0      0    8.0500        S  NaN
       3              0  39.0      1      5   31.2750        S  NaN
       3              0   2.0      4      1   29.1250        Q  NaN
       3              0   NaN      0      0    7.2250        C  NaN
       3              0   NaN      0      0    7.8958        S  NaN
       3              1   NaN      0      0    7.2292        C  NaN
       3              0  21.0      0      0    8.0500        S  NaN
       3              0   NaN      0      0    7.8958        C  NaN
       3              0   NaN      0      0    8.0500        S  NaN
       3              0   NaN      1      0   15.5000        Q  NaN
       3              0   NaN      2      0   21.6792        C  NaN
female 3              1  26.0      0      0    7.9250        S  NaN
       3              1  27.0      0      2   11.1333        S  NaN
       3              1   4.0      1      1   16.7000        S    G
       3              0  14.0      0      0    7.8542        S  NaN
       3              0  31.0      1      0   18.0000        S  NaN
       3              1   NaN      0      0    7.2250        C  NaN
       3              1  15.0      0      0    8.0292        Q  NaN
       3              0   8.0      3      1   21.0750        S  NaN
       3              1  38.0      1      5   31.3875        S  NaN
       3              1   NaN      0      0    7.8792        Q  NaN
       3              1   NaN      0      0    7.7500        Q  NaN
       3              0  18.0      2      0   18.0000        S  NaN
       3              1  14.0      1      0   11.2417        C  NaN
       3              0  40.0      1      0    9.4750        S  NaN
       3              1  19.0      0      0    7.8792        Q  NaN
       3              1   NaN      0      0    7.7500        Q  NaN
       3              0  18.0      1      0   17.8000        S  NaN

In [22]:
titanic_slice.reset_index(inplace = True)

In [23]:
titanic_slice

       sex  pclass  survived   age  sibsp  parch      fare embarked deck
0     male       1         0  54.0      0      0   51.8625        S    E
1     male       1         1  28.0      0      0   35.5000        S    A
2     male       1         0  19.0      3      2  263.0000        S    C
3     male       1         0  40.0      0      0   27.7208        C  NaN
4     male       1         0  28.0      1      0   82.1708        C  NaN
5     male       1         0  42.0      1      0   52.0000        S  NaN
6   female       1         1  38.0      1      0   71.2833        C    C
7   female       1         1  35.0      1      0   53.1000        S    C
8   female       1         1  58.0      0      0   26.5500        S    C
9   female       1         1   NaN      1      0  146.5208        C    B
10    male       2         1   NaN      0      0   13.0000        S  NaN
11    male       2         0  35.0      0      0   26.0000        S  NaN
12    male       2         1  34.0      0      0   13.0000        S    D
13    male       2         0  66.0      0      0   10.5000        S  NaN
14  female       2         1  14.0      1      0   30.0708        C  NaN
15  female       2         1  55.0      0      0   16.0000        S  NaN
16  female       2         0  27.0      1      0   21.0000        S  NaN
17  female       2         1   3.0      1      2   41.5792        C  NaN
18    male       3         0  22.0      1      0    7.2500        S  NaN
19    male       3         0  35.0      0      0    8.0500        S  NaN
20    male       3         0   NaN      0      0    8.4583        Q  NaN
21    male       3         0   2.0      3      1   21.0750        S  NaN
22    male       3         0  20.0      0      0    8.0500        S  NaN
23    male       3         0  39.0      1      5   31.2750        S  NaN
24    male       3         0   2.0      4      1   29.1250        Q  NaN
25    male       3         0   NaN      0      0    7.2250        C  NaN
26    male       3         0   NaN      0      0    7.8958        S  NaN
27    male       3         1   NaN      0      0    7.2292        C  NaN
28    male       3         0  21.0      0      0    8.0500        S  NaN
29    male       3         0   NaN      0      0    7.8958        C  NaN
30    male       3         0   NaN      0      0    8.0500        S  NaN
31    male       3         0   NaN      1      0   15.5000        Q  NaN
32    male       3         0   NaN      2      0   21.6792        C  NaN
33  female       3         1  26.0      0      0    7.9250        S  NaN
34  female       3         1  27.0      0      2   11.1333        S  NaN
35  female       3         1   4.0      1      1   16.7000        S    G
36  female       3         0  14.0      0      0    7.8542        S  NaN
37  female       3         0  31.0      1      0   18.0000        S  NaN
38  female       3         1   NaN      0      0    7.2250        C  NaN
39  female       3         1  15.0      0      0    8.0292        Q  NaN
40  female       3         0   8.0      3      1   21.0750        S  NaN
41  female       3         1  38.0      1      5   31.3875        S  NaN
42  female       3         1   NaN      0      0    7.8792        Q  NaN
43  female       3         1   NaN      0      0    7.7500        Q  NaN
44  female       3         0  18.0      2      0   18.0000        S  NaN
45  female       3         1  14.0      1      0   11.2417        C  NaN
46  female       3         0  40.0      1      0    9.4750        S  NaN
47  female       3         1  19.0      0      0    7.8792        Q  NaN
48  female       3         1   NaN      0      0    7.7500        Q  NaN
49  female       3         0  18.0      1      0   17.8000        S  NaN

In [24]:
titanic_slice = titanic_slice.set_index(['pclass', 'sex']).sort_index(ascending = True)

In [25]:
titanic_slice

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B
       male           0  54.0      0      0   51.8625        S    E
       male           1  28.0      0      0   35.5000        S    A
       male           0  19.0      3      2  263.0000        S    C
       male           0  40.0      0      0   27.7208        C  NaN
       male           0  28.0      1      0   82.1708        C  NaN
       male           0  42.0      1      0   52.0000        S  NaN
2      female         1  14.0      1      0   30.0708        C  NaN
       female         1  55.0      0      0   16.0000        S  NaN
       female         0  27.0      1      0   21.0000        S  NaN
       female         1   3.0      1      2   41.5792        C  NaN
       male           1   NaN      0      0   13.0000        S  NaN
       male           0  35.0      0      0   26.0000        S  NaN
       male           1  34.0      0      0   13.0000        S    D
       male           0  66.0      0      0   10.5000        S  NaN
3      female         1  26.0      0      0    7.9250        S  NaN
       female         1  27.0      0      2   11.1333        S  NaN
       female         1   4.0      1      1   16.7000        S    G
       female         0  14.0      0      0    7.8542        S  NaN
       female         0  31.0      1      0   18.0000        S  NaN
       female         1   NaN      0      0    7.2250        C  NaN
       female         1  15.0      0      0    8.0292        Q  NaN
       female         0   8.0      3      1   21.0750        S  NaN
       female         1  38.0      1      5   31.3875        S  NaN
       female         1   NaN      0      0    7.8792        Q  NaN
       female         1   NaN      0      0    7.7500        Q  NaN
       female         0  18.0      2      0   18.0000        S  NaN
       female         1  14.0      1      0   11.2417        C  NaN
       female         0  40.0      1      0    9.4750        S  NaN
       female         1  19.0      0      0    7.8792        Q  NaN
       female         1   NaN      0      0    7.7500        Q  NaN
       female         0  18.0      1      0   17.8000        S  NaN
       male           0  22.0      1      0    7.2500        S  NaN
       male           0  35.0      0      0    8.0500        S  NaN
       male           0   NaN      0      0    8.4583        Q  NaN
       male           0   2.0      3      1   21.0750        S  NaN
       male           0  20.0      0      0    8.0500        S  NaN
       male           0  39.0      1      5   31.2750        S  NaN
       male           0   2.0      4      1   29.1250        Q  NaN
       male           0   NaN      0      0    7.2250        C  NaN
       male           0   NaN      0      0    7.8958        S  NaN
       male           1   NaN      0      0    7.2292        C  NaN
       male           0  21.0      0      0    8.0500        S  NaN
       male           0   NaN      0      0    7.8958        C  NaN
       male           0   NaN      0      0    8.0500        S  NaN
       male           0   NaN      1      0   15.5000        Q  NaN
       male           0   NaN      2      0   21.6792        C  NaN

In [26]:
titanic_slice.loc[1]

        survived   age  sibsp  parch      fare embarked deck
sex
female         1  38.0      1      0   71.2833        C    C
female         1  35.0      1      0   53.1000        S    C
female         1  58.0      0      0   26.5500        S    C
female         1   NaN      1      0  146.5208        C    B
male           0  54.0      0      0   51.8625        S    E
male           1  28.0      0      0   35.5000        S    A
male           0  19.0      3      2  263.0000        S    C
male           0  40.0      0      0   27.7208        C  NaN
male           0  28.0      1      0   82.1708        C  NaN
male           0  42.0      1      0   52.0000        S  NaN

In [28]:
titanic_slice.loc[[1, 2]]

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B
       male           0  54.0      0      0   51.8625        S    E
       male           1  28.0      0      0   35.5000        S    A
       male           0  19.0      3      2  263.0000        S    C
       male           0  40.0      0      0   27.7208        C  NaN
       male           0  28.0      1      0   82.1708        C  NaN
       male           0  42.0      1      0   52.0000        S  NaN
2      female         1  14.0      1      0   30.0708        C  NaN
       female         1  55.0      0      0   16.0000        S  NaN
       female         0  27.0      1      0   21.0000        S  NaN
       female         1   3.0      1      2   41.5792        C  NaN
       male           1   NaN      0      0   13.0000        S  NaN
       male           0  35.0      0      0   26.0000        S  NaN
       male           1  34.0      0      0   13.0000        S    D
       male           0  66.0      0      0   10.5000        S  NaN

In [30]:
titanic_slice.loc[:2]

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B
       male           0  54.0      0      0   51.8625        S    E
       male           1  28.0      0      0   35.5000        S    A
       male           0  19.0      3      2  263.0000        S    C
       male           0  40.0      0      0   27.7208        C  NaN
       male           0  28.0      1      0   82.1708        C  NaN
       male           0  42.0      1      0   52.0000        S  NaN
2      female         1  14.0      1      0   30.0708        C  NaN
       female         1  55.0      0      0   16.0000        S  NaN
       female         0  27.0      1      0   21.0000        S  NaN
       female         1   3.0      1      2   41.5792        C  NaN
       male           1   NaN      0      0   13.0000        S  NaN
       male           0  35.0      0      0   26.0000        S  NaN
       male           1  34.0      0      0   13.0000        S    D
       male           0  66.0      0      0   10.5000        S  NaN

In [31]:
titanic_slice.loc[1, 'female']

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B

In [34]:
titanic_slice.loc[(1, 'female'), 'age']

pclass  sex
1       female    38.0
        female    35.0
        female    58.0
        female     NaN
Name: age, dtype: float64

In [35]:
titanic_slice.loc[([1, 2], 'female'), ['age', 'fare']]

                age      fare
pclass sex
1      female  38.0   71.2833
       female  35.0   53.1000
       female  58.0   26.5500
       female   NaN  146.5208
2      female  14.0   30.0708
       female  55.0   16.0000
       female  27.0   21.0000
       female   3.0   41.5792

In [41]:
titanic_slice.loc[(slice(None), slice('female')), :]

               survived   age  sibsp  parch      fare embarked deck
pclass sex
1      female         1  38.0      1      0   71.2833        C    C
       female         1  35.0      1      0   53.1000        S    C
       female         1  58.0      0      0   26.5500        S    C
       female         1   NaN      1      0  146.5208        C    B
2      female         1  14.0      1      0   30.0708        C  NaN
       female         1  55.0      0      0   16.0000        S  NaN
       female         0  27.0      1      0   21.0000        S  NaN
       female         1   3.0      1      2   41.5792        C  NaN
3      female         1  26.0      0      0    7.9250        S  NaN
       female         1  27.0      0      2   11.1333        S  NaN
       female         1   4.0      1      1   16.7000        S    G
       female         0  14.0      0      0    7.8542        S  NaN
       female         0  31.0      1      0   18.0000        S  NaN
       female         1   NaN      0      0    7.2250        C  NaN
       female         1  15.0      0      0    8.0292        Q  NaN
       female         0   8.0      3      1   21.0750        S  NaN
       female         1  38.0      1      5   31.3875        S  NaN
       female         1   NaN      0      0    7.8792        Q  NaN
       female         1   NaN      0      0    7.7500        Q  NaN
       female         0  18.0      2      0   18.0000        S  NaN
       female         1  14.0      1      0   11.2417        C  NaN
       female         0  40.0      1      0    9.4750        S  NaN
       female         1  19.0      0      0    7.8792        Q  NaN
       female         1   NaN      0      0    7.7500        Q  NaN
       female         0  18.0      1      0   17.8000        S  NaN