# Pandas using ChatGPT

The following code is generated from **ChatGPT**

The used prompt was:
> Please inspect the following excerpt from the titanic dataset (csv file) and provide the pandas code for a very first high level data inspection and analisys

In [1]:
import pandas as pd

In [2]:
# Read the Titanic dataset from a CSV file
file_path = "titanic.csv"
df = pd.read_csv(file_path)

In [3]:
# Display basic information about the DataFrame
print("Basic Information:")
print(df.info())

Basic Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   sex       891 non-null    object
 3   age       714 non-null    float64
 4   sibsp     891 non-null    int64
 5   parch     891 non-null    int64
 6   fare      891 non-null    float64
 7   embarked  889 non-null    object
 8   deck      203 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB
None

In [4]:
# Display summary statistics for numerical columns
print("\nSummary Statistics:")
print(df.describe())

Summary Statistics:
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [5]:
# Display the first few rows of the DataFrame
print("\nFirst Few Rows:")
print(df.head())

First Few Rows:
   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [6]:
print(df.isnull().sum())

survived      0
pclass        0
sex           0
age         177
sibsp         0
parch         0
fare          0
embarked      2
deck        688
dtype: int64

In [7]:
print(df.dtypes)

survived      int64
pclass        int64
sex          object
age         float64
sibsp         int64
parch         int64
fare        float64
embarked     object
deck         object
dtype: object

In [8]:
print(df['survived'].value_counts())

survived
0    549
1    342
Name: count, dtype: int64

In [9]:
print(df['pclass'].value_counts())

pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [10]:
print(df['sex'].value_counts())

sex
male      577
female    314
Name: count, dtype: int64

In [11]:
print(df['age'].value_counts())

age
24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: count, Length: 88, dtype: int64

In [12]:
print(df['sibsp'].value_counts())

sibsp
0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: count, dtype: int64

In [13]:
print(df['parch'].value_counts())

parch
0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: count, dtype: int64

In [14]:
print(df['fare'].value_counts())

fare
8.0500     43
13.0000    42
7.8958     38
7.7500     34
26.0000    31
           ..
35.0000     1
28.5000     1
6.2375      1
14.0000     1
10.5167     1
Name: count, Length: 248, dtype: int64

In [15]:
print(df['embarked'].value_counts())

embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [16]:
print(df['deck'].value_counts())

deck
C    59
B    47
D    33
E    32
A    15
F    13
G     4
Name: count, dtype: int64