# **DataFrame Basics II**

### **Filtering DataFrames by one Condition**

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv('titanic.csv')

In [ ]:
titanic.head()

In [ ]:
titanic.info()

In [ ]:
titanic.dtypes

In [ ]:
titanic.age.head()

In [ ]:
titanic.sex == "male"

In [ ]:
males1 = titanic[titanic.sex == "male"]

In [ ]:
males1.head()

In [ ]:
male_filter = titanic.sex == "male"
males2 = titanic.loc[male_filter]

In [ ]:
males2.head()

In [ ]:
males3 = titanic.loc[male_filter, ["age", "fare"]]

In [ ]:
males3.head()

In [ ]:
female_filter = titanic.sex == "female"
females = titanic[female_filter]

In [ ]:
females

In [ ]:
males2.dtypes

In [ ]:
object_filter = males2.dtypes == object
males2_numbers = males2.loc[:, ~object_filter]

In [ ]:
males2_numbers

In [ ]:
males = titanic.loc[male_filter, ~object_filter]

In [ ]:
males.head()

### **Filtering DataFrames by many Condition (AND)**

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv('titanic.csv')

In [ ]:
titanic.head()

In [ ]:
males_filter = titanic['sex'] == "male"
males = titanic.loc[males_filter]
males.head()

In [ ]:
age_filter = titanic['age'] > 14
grown_ups = titanic.loc[age_filter]
grown_ups.head()

In [ ]:
grown_males = titanic.loc[males_filter & age_filter]
grown_males.head()

In [ ]:
grown_males.describe()

### **Filtering DataFrames by many Condition (OR)**

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv('titanic.csv')
titanic.head()

In [ ]:
females_filter = titanic.sex == 'female'
females_filter.head()

In [ ]:
child_filter = titanic['age'] < 14
child_filter.head()

In [ ]:
woman_or_child = titanic.loc[females_filter | child_filter]

In [ ]:
woman_or_child.head()

In [ ]:
woman_or_child.describe()

In [ ]:
pd.read_csv('summer.csv')

## **Advanced Filtering with between(), isin() and ~**

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv('summer.csv')

In [ ]:
summer.head()

In [ ]:
summer.info()

In [ ]:
games_1988 = summer.loc[summer.Year == 1988]

In [ ]:
games_1988.head()

In [ ]:
games_1988.info()

In [ ]:
games_since_1992 = summer.loc[summer.Year >= 1992]

In [ ]:
games_since_1992

In [ ]:
games_since_1992.head()

In [ ]:
games_since_1992.tail()

In [ ]:
games_90s = summer[summer.Year.between(left = 1990, right = 1999, inclusive = 'both')]

In [ ]:
games_90s

In [ ]:
selected_games = summer.loc[summer.Year.isin([1976, 1988])]

In [ ]:
selected_games

In [ ]:
discipline = selected_games.Discipline == 'Weightlifting'
country = selected_games.Country == 'BUL'
selected_games.loc[discipline & country]

## **any()** and **all()**

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv('titanic.csv')

In [ ]:
titanic.head()

In [ ]:
(titanic.sex == 'male').any()

In [ ]:
(titanic.sex == 'male').all()

In [ ]:
(titanic.age == 80.0).any()

In [ ]:
titanic.loc[titanic.age == 80.0]

In [ ]:
pd_series = pd.Series([1, 5, -5, 0, -1, 0.5])

In [ ]:
pd_series.any()

In [ ]:
pd_series.all()

In [ ]:
fares = titanic.fare.unique()

In [ ]:
fares.sort()

In [ ]:
fares = pd.Series(fares)

In [ ]:
fares.head()

In [ ]:
titanic.fare.all()

## **Removing columns**

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv('summer.csv')

In [ ]:
summer.head()

In [ ]:
summer.drop(columns = 'Sport')

In [ ]:
summer.head()

In [ ]:
summer.drop(columns = ['Sport', 'Discipline'])

In [ ]:
summer.head()

In [ ]:
summer.drop(labels = 'Event', axis = 1)
# summer.drop(labels = 'Event', axis = "columns") - alternative approach

In [ ]:
summer.head()

In [ ]:
del summer['Sport']

In [ ]:
summer.head()

In [ ]:
summer = pd.read_csv('summer.csv')

In [ ]:
summer.head()

In [ ]:
summer.loc[ :, ['Year', 'City', 'Athlete', 'Country', 'Gender', 'Event', 'Medal']]

## **Removing rows**

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv('summer.csv',index_col = 'Athlete')

In [ ]:
summer.head(10)

In [ ]:
summer.drop(index = 'HAJOS, Alfred').head(10)

In [ ]:
summer.drop(index = ['HAJOS, Alfred', 'DRIVAS, Dimitrios']).head(10)

In [ ]:
summer.drop(labels = "HERSCHMANN, Otto", axis = 0).head(10)

In [ ]:
summer.loc[summer.Year == 1996]

In [ ]:
filter1 = summer.Year == 1996
filter2 = summer.Sport == 'Aquatics'
summer.loc[~(filter1 | filter2)]

## **Adding new Columns to a DataFrame**

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv('titanic.csv')

In [ ]:
titanic.head()

In [ ]:
titanic['Zeros']

In [ ]:
titanic['Zeros'] = 0

In [ ]:
titanic.head()

In [ ]:
titanic['Zeros_2'] = '0'

In [ ]:
titanic.head()

In [ ]:
titanic.dtypes

In [ ]:
titanic.Ones

In [ ]:
titanic.Ones = 1

In [ ]:
titanic.head()

In [ ]:
titanic.Ones

## **Creating Columns based on other Columns**

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv('titanic.csv')

In [ ]:
titanic.head()

In [ ]:
1912 - titanic.age

In [ ]:
titanic['YoB'] = 1912 - titanic.age

In [ ]:
titanic.head()

In [ ]:
titanic['relatives'] = titanic['sibsp'] + titanic['parch']

In [ ]:
titanic.head()

In [ ]:
titanic.drop(columns = ['sibsp', 'parch'], inplace = True)

In [ ]:
titanic.head()

In [ ]:
inflation_factor = 10

In [ ]:
titanic['ia_fare'] = titanic.fare * inflation_factor

In [ ]:
titanic.head()

## **Adding Columns with insert()**

In [1]:
import pandas as pd

In [2]:
titanic = pd.read_csv('titanic.csv')

In [3]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [4]:
relatives = titanic['sibsp'] + titanic['parch']

In [5]:
relatives.head()

0    1
1    1
2    0
3    1
4    0
dtype: int64

In [6]:
titanic.insert(column = 'relatives', value = relatives, loc = 6)

In [7]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,relatives,fare,embarked,deck
0,0,3,male,22.0,1,0,1,7.2500,S,NaN
1,1,1,female,38.0,1,0,1,71.2833,C,C
2,1,3,female,26.0,0,0,0,7.9250,S,NaN
3,1,1,female,35.0,1,0,1,53.1000,S,C
4,0,3,male,35.0,0,0,0,8.0500,S,NaN

## **Creating DataFrames from Scratch with pd.DataFrame()**

In [8]:
import pandas as pd