In [1]:
dict_1 = {"Spain": "Madrid", "France": "Paris"}
dict_1

{'Spain': 'Madrid', 'France': 'Paris'}

In [2]:
dict_1['Spain']

'Madrid'

In [3]:
list(dict_1.keys())

['Spain', 'France']

In [4]:
dict_1.values()

dict_values(['Madrid', 'Paris'])

In [5]:
for key in dict_1.keys():
    print(key)

Spain
France

In [6]:
import pandas as pd

In [7]:
# Source:
# https://www.planetfootball.com/quick-reads/comparing-lionel-messi-cristiano-ronaldo-and-neymar-records-after-700-games
my_dict = {
    "Name": ["Lionel Messi", "Cristiano Ronaldo", "Neymar"],
    "Games": [700, 700, 700],
    "Goals": [565, 448, 443],
    "Assists": [232, 147, 244]
}

In [8]:
players_stat_df = pd.DataFrame(my_dict)
players_stat_df.set_index('Name', inplace = True)
players_stat_df

                   Games  Goals  Assists
Name
Lionel Messi         700    565      232
Cristiano Ronaldo    700    448      147
Neymar               700    443      244

In [9]:
goal_contrib = {
    'Name': my_dict['Name'],
    'Goal Contributions': [players_stat_df['Goals'][f'{fp}'] + players_stat_df['Assists'][f'{fp}'] for fp in players_stat_df.index]
}
goal_contrib_df = pd.DataFrame(goal_contrib)
goal_contrib_df.set_index('Name', inplace = True)

In [13]:
players_stat_total = pd.concat([players_stat_df, goal_contrib_df], axis = 1)

In [14]:
players_stat_total

                   Games  Goals  Assists  Goal Contributions
Name
Lionel Messi         700    565      232                 797
Cristiano Ronaldo    700    448      147                 595
Neymar               700    443      244                 687

In [22]:
goals_per_game = {
    'Name': my_dict['Name'],
    'Goals per game': [players_stat_df['Goals'][f'{fp}'] / players_stat_df['Games'][f'{fp}'] for fp in players_stat_df.index]
}
goals_per_game_df = pd.DataFrame(goals_per_game)
goals_per_game_df.set_index('Name', inplace = True)

In [23]:
goals_per_game_df

                   Goals per game
Name
Lionel Messi             0.807143
Cristiano Ronaldo        0.640000
Neymar                   0.632857

In [24]:
players_stat_total = pd.concat([players_stat_total, goals_per_game_df], axis = 1)

In [26]:
players_stat_total

                   Games  Goals  Assists  Goal Contributions  Goals per game
Name
Lionel Messi         700    565      232                 797        0.807143
Cristiano Ronaldo    700    448      147                 595        0.640000
Neymar               700    443      244                 687        0.632857

In [27]:
players_stat_total.round(2)

                   Games  Goals  Assists  Goal Contributions  Goals per game
Name
Lionel Messi         700    565      232                 797            0.81
Cristiano Ronaldo    700    448      147                 595            0.64
Neymar               700    443      244                 687            0.63